<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
          category="com.exigen.eclipse.common.ui.category"
          class="com.exigen.openl.model.openl.presentation.OpenlModelWizard"
          finalPerspective="com.exigen.eclipse.common.ui.perspective"
          icon="icons/full/obj16/OpenlModelFile.gif"
          id="com.exigen.openl.model.openl.presentation.OpenlModelWizardID"
          name="%_UI_OpenlModelWizard_label">
      <description>%_UI_OpenlModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.exigen.openl.model.openl.presentation.OpenlEditorID"
        name = "%_UI_OpenlEditor_label"
        icon = "icons/full/obj16/OpenlModelFile.gif"
        extensions = "openl"
        class = "com.exigen.eclipse.common.facet.emf.ui.editor.CommonModelEditor" 
        contributorClass="com.exigen.eclipse.common.facet.emf.ui.editor.ModelEditorActionBarContributor" >
    </editor>
  </extension>    
</plugin>
