<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================== -->
<!-- Declare the documentation for the Platform ISV Guide  -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin
   name = "%pluginName"
   id = "com.exigen."
   version = ""
   provider-name = "Exigen Properties, Inc.">


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc"> 
       <toc file="toc.xml" primary="true" />
   </extension>


<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

<extension point="org.eclipse.help.toc">
  <toc file="topics_Ch1.xml" />
<toc file="topics_Ch2.xml" />
<toc file="topics_Ch3.xml" />
<toc file="topics_Ch4.xml" />
<toc file="topics_Ch5.xml" />
<toc file="topics_Ch6.xml" />
<toc file="topics_Ch7.xml" />

</extension>



<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->

<!--	<extension point="org.eclipse.help.contexts"> -->
<!--       <contexts file="contexts_Features.xml" plugin="com.exigen.studio.install"/> -->
<!--   </extension>-->


</plugin>
