<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Openl Web Service</display-name>

	<!-- Filters -->
	<filter>
		<!-- Should be the first in the order -->
		<filter-name>LoggerContextFilter</filter-name>
		<filter-class>ch.qos.logback.classic.selector.servlet.LoggerContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggerContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>WSServlet</servlet-name>
		<servlet-class>org.openl.rules.ruleservice.servlet.WSServlet</servlet-class>
		<init-param>
			<param-name>uriEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>static-resources-list</param-name>
			<param-value>
                /css/.+\.css
                /images/.+\.png
            </param-value>
		</init-param>
		<init-param>
			<param-name>redirects-list</param-name>
			<param-value>
                		/
            </param-value>
		</init-param>
		<init-param>
			<param-name>redirect-servlet-name</param-name>
			<param-value>DispatcherServlet</param-value>
		</init-param>
	
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- Spring dispatcher context -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/classes/spring-dispatcher-servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- JSPs -->
	<servlet>
		<servlet-name>index.jsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
	</servlet>
	<!-- Mapping -->
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/application/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>index.jsp</servlet-name>
		<url-pattern>/WEB-INF/jsp/index.jsp</url-pattern>
	</servlet-mapping>
	<!-- Other stuff -->
	<context-param>
		<description>Load default and application properties to the Spring application environment.</description>
		<param-name>contextInitializerClasses</param-name>
		<param-value>org.openl.spring.env.PropertySourcesLoader</param-value>
	</context-param>
	<context-param>
		<description>Location of the XML file that defines the root application context applied by ContextLoaderListener.</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:openl-ruleservice-beans.xml classpath:openl-ruleservice-logging-beans.xml classpath:openl-ruleservice-override-beans.xml</param-value>
	</context-param>

	<listener>
		<!-- Should be the first in the order -->
		<listener-class>ch.qos.logback.classic.selector.servlet.ContextDetachingSCL</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>
