<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
    <display-name>Openl Web Service</display-name>
    <!-- Servlets -->
    <servlet>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <init-param>
            <param-name>static-welcome-file</param-name>
            <param-value>index.html</param-value>
        </init-param>
        <init-param>
            <param-name>static-resources-list</param-name>
            <param-value>/favicon.ico</param-value>
        </init-param>
        <init-param>
            <param-name>service-list-path</param-name>
            <param-value>cxf-services</param-value>
        </init-param>
        <init-param>
            <param-name>hide-service-list-page</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Other stuff -->
    <context-param>
        <description>Load default and application properties to the Spring application environment.</description>
        <param-name>contextInitializerClasses</param-name>
        <param-value>org.openl.spring.env.PropertySourcesLoader</param-value>
    </context-param>
    <context-param>
        <description>Location of the XML file that defines the root application context applied by ContextLoaderListener.</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:openl-ruleservice-beans.xml classpath:openl-ruleservice-store-log-data-beans.xml classpath:openl-ruleservice-admin-beans.xml classpath:openl-ruleservice-override-beans.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
