<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://exigengroup.com/openl" 
       class = "com.exigen.openl.model.openl.provider.OpenlItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource
          com.exigen.eclipse.common.facet.emf.infrastructure.validation.IItemValidator
          com.exigen.eclipse.common.facet.emf.edit.provider.IItemPropertyTabSource
          com.exigen.eclipse.common.facet.emf.infrastructure.dependency.IItemDependencyBuilder" />
  </extension>

</plugin>

