// These permissions apply to the server startup code
grant codeBase "file:${catalina.home}/bin/bootstrap.jar" {
        permission java.security.AllPermission;
};

// These permissions apply to the servlet API classes
// and those that are shared across all class loaders
// located in the "lib" directory
grant codeBase "file:${catalina.home}/lib/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${catalina.home}/bin/tomcat-juli.jar" {
        permission java.security.AllPermission;
};

// WEBSTUDIO

//permission for a specific jar file. change the path to your jar file
//grant codeBase "file:${catalina.home}/openl-demo/user-workspace/DEFAULT/PROJECT_NAME/JAR_FILE_NAME" {
            //permissions
//};

grant codeBase "file:${catalina.home}/webapps/webstudio/WEB-INF/-" {
    //permission for a specific jar file should be duplicated here
};

grant codeBase "file:${catalina.home}/webapps/webstudio/-" {

        //Registration and cancellation of virtual-machine shutdown hooks
        //ex: jgit: CloneCommand.call()
        permission java.lang.RuntimePermission "shutdownHooks";

        //accessClassInPackages
        permission java.lang.RuntimePermission "accessClassInPackage.org.apache.*";
        permission java.lang.RuntimePermission "accessClassInPackage.jdk.*";
        permission java.lang.RuntimePermission "accessClassInPackage.sun.*";


        //ClassLoaders
        permission java.lang.RuntimePermission "getClassLoader";
        permission java.lang.RuntimePermission "setContextClassLoader";
        permission java.lang.RuntimePermission "createClassLoader";
        permission java.lang.RuntimePermission "closeClassLoader";
        permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.loader";

        //appeared in Java 9+
        //ex:springframework
        permission java.lang.RuntimePermission "defineClass";

        //Modification of threads
        //ex: ChangesMonitor.release()
        permission java.lang.RuntimePermission "modifyThread";

        //Retrieval of the ProtectionDomain for a class
        //ex: springframework.cglib
        permission java.lang.RuntimePermission "getProtectionDomain";

        //Warning: Extreme caution should be taken before granting this permission to code, for it provides access to the declared members of a class.
        //ex: springframework.beans.factory
        permission java.lang.RuntimePermission "accessDeclaredMembers";

        //Reading of the value of the specified environment variable
        permission java.lang.RuntimePermission "getenv.*";

        //access to the java.util.prefs.Preferences implementations
        permission java.lang.RuntimePermission "preferences";

        permission java.lang.RuntimePermission "reflectionFactoryAccess";

        //HikariPool
        //Permits an application to specify the maximum period a Connection or objects created from the Connection will wait for the database to reply to any one request.
        permission java.sql.SQLPermission "setNetworkTimeout";

        //allows anyone to listen on dynamic ports (DB, LDAP, SSO...)
        permission java.net.SocketPermission "*", "accept,connect,listen,resolve";

        // Read and Modify any properties
        permission java.util.PropertyPermission "*", "read,write";

        //ability to control the logging configuration
        permission java.util.logging.LoggingPermission "control";

        permission java.lang.reflect.ReflectPermission "*";

        //com.sun.faces.config.ConfigureListener
        permission java.awt.AWTPermission "accessEventQueue";

        //FileUtils
        permission java.io.FilePermission "${java.io.tmpdir}", "read,write,delete";
        permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";

        permission java.io.FilePermission "${webstudio.home}", "read,write,delete";
        permission java.io.FilePermission "${webstudio.home}/-", "read,write,delete";
        permission java.io.FilePermission "${catalina.base}/logs/-", "read,write,delete";
        permission java.io.FilePermission "${catalina.base}/logs", "read,write,delete";

        //richfaces
        permission java.io.FilePermission "${catalina.base}/-", "read";
        permission java.io.FilePermission "${catalina.base}/", "read";

        permission java.io.FilePermission "${java.home}/-", "read";
        permission java.util.PropertyPermission "*", "read,write";

        //oracle.jdbc.driver.OracleDriver.registerMBeans
        permission javax.management.MBeanServerPermission "createMBeanServer";
        permission javax.management.MBeanPermission "*", "*";
        permission javax.management.MBeanTrustPermission "register";

        // jgit
        permission java.io.FilePermission "${user.home}/.gitconfig", "read";
        permission java.net.NetPermission "getProxySelector";
        permission java.security.SecurityPermission "insertProvider.BC";
        permission java.security.SecurityPermission "putProviderProperty.BC";

};

// WEBSERVICE

//permission for a specific jar file. change the path to your jar file
//grant codeBase "file:${catalina.home}/openl-demo/rules-deploy/PROJECT_NAME_VERSION/PROJECT_NAME/JAR_FILE_NAME" {
        //permissions
//};

grant codeBase "file:${catalina.home}/webapps/webservice/WEB-INF/-" {
    //permission for a specific jar file should be duplicated here
};

grant codeBase "file:${catalina.home}/webapps/webservice/-" {

        //accessClassInPackages
        permission java.lang.RuntimePermission "accessClassInPackage.org.apache.*";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.*";
        permission java.lang.RuntimePermission "accessClassInPackage.sun.*";

        //ClassLoaders
        permission java.lang.RuntimePermission "getClassLoader";
        permission java.lang.RuntimePermission "setContextClassLoader";
        permission java.lang.RuntimePermission "createClassLoader";
        permission java.lang.RuntimePermission "closeClassLoader";
        permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.loader";

        //Modification of threads
        //ex: ChangesMonitor.release()
        permission java.lang.RuntimePermission "modifyThread";

        //Retrieval of the ProtectionDomain for a class
        //ex: springframework.cglib
        permission java.lang.RuntimePermission "getProtectionDomain";

        //Warning: Extreme caution should be taken before granting this permission to code, for it provides access to the declared members of a class.
        //ex: springframework.beans.factory
        permission java.lang.RuntimePermission "accessDeclaredMembers";

        //Reading of the value of the specified environment variable
        permission java.lang.RuntimePermission "getenv.*";

        permission java.lang.RuntimePermission "reflectionFactoryAccess";

        //allows anyone to listen on dynamic ports (DB, LDAP, SSO...)
        permission java.net.SocketPermission "*", "accept,connect,listen,resolve";

        // Read and Modify any properties
        permission java.util.PropertyPermission "*", "read,write";

        //ability to control the logging configuration
        permission java.util.logging.LoggingPermission "control";

        permission java.lang.reflect.ReflectPermission "*";

        //FileUtils
        permission java.io.FilePermission "${java.io.tmpdir}", "read,write,delete";
        permission java.io.FilePermission "${java.io.tmpdir}/-", "read,write,delete";

        //org.springframework.beans.factory
        permission java.io.FilePermission "${catalina.base}", "read";
        permission java.io.FilePermission "${catalina.base}/-", "read";

        permission java.io.FilePermission "${webstudio.home}", "read,write,delete";
        permission java.io.FilePermission "${webstudio.home}/-", "read,write,delete";
        permission java.io.FilePermission "${catalina.base}/logs/-", "write,delete";
        permission java.io.FilePermission "${java.home}/-", "read";
        permission java.util.PropertyPermission "*", "read,write";

        //oracle.jdbc.driver.OracleDriver.registerMBeans
        permission javax.management.MBeanServerPermission "createMBeanServer";
        permission javax.management.MBeanPermission "*", "*";
        permission javax.management.MBeanTrustPermission "register";
};
