body
{
	text-align: center;
	padding: 0;
	margin: 0 0 0 10px;
	background: #eceef8;
	min-height: 700px;
	max-height: 700px;
}

#containerWrapper {
	background-image: url(../webresource/images/header.png);
	background-repeat: no-repeat;
	background-position: center;
}

#container {
	margin-right: 1%;
	text-align: left;
	background-image: url(../webresource/images/logo.png);
	background-repeat: no-repeat;
	background-position: right top;
}

#masthead {
	width: 100%;
	height: 70px;
	background-image: url(../webresource/images/print-logo.gif);
	background-repeat: no-repeat;
	min-width: 800px;
	position: relative;
}

#navBar {
	width: 300px;
	float: left;
	min-width: 50px;
	max-width: 600px;
	height: 600px;
	overflow: hidden;
}

#maincontainer {
	position: relative;
	min-width: 1024px;
	width: 100%;
}

#container2 {
	position: relative;
	min-width: 800px;
	text-align: left;
}

#siteName {
	display: block;
	clear: both;
}

#idTableEditorSection {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 2px;
	width: 99%;
	min-width: 800px;
	text-align: left;
	overflow: auto;
	height: 550px;
}

#content {
	text-align: left;
	margin-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	max-width: 1400px;
	min-width: 100px;
	float: left;
	height: 600px;
	overflow: hidden;
}

#mainFrame {
	text-align: left;
	width: 100%;
	height: 595px;
	overflow: auto;
}

#divider {
	float: left;
	max-width: 5px;
	min-width: 5px;
	width: 5px;
	cursor: e-resize;
	background: url(../webresource/images/ddots-vertical.gif) repeat-y 100% 0;
	height: 600px;
}

#siteNameDiv {
	vertical-align: bottom;
	margin-right: 0px;
	width: 100%;
	height: 20px;
	z-index: 10000;
	background-color: transparent;
}

#siteNameDiv_Old {
	position: absolute;
	top: 25px;
	left: 470px;
	width: 200px;
	height: 20px;
	z-index: 10000;
	background-color: transparent;
}

#siteInfo {
	padding: 0.5em;
	border-top: 1px solid #CCCCCC;
	clear: both;
}

#loading {
	position: absolute;
	top: -70px;
	left: 420px;
	display: none;
}

#navTable {
	border-bottom: 1px dotted gray;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
	margin: 0px;
	padding: 5px;
	width: 50px;
}

#tree {
	text-overflow: ellipsis;
	margin-top: 5px;
	overflow: auto;
	width: 100%;
	height: 565px;
}

#show_app_hidden {
	position: absolute;
	top: -1000px;
	left: -1000px;
}