* text=auto

#Binaries
**/*.zip binary
**/*.gzip binary
**/*.xls binary
**/*.xlsx binary
**/*.doc binary
**/*.docx binary
**/*.jar binary
**/*.class binary
**/*.jpg binary
**/*.gif binary
**/*.png binary
**/*.ico binary

# Windows files
**/*.cmd text eol=crlf
**/*.ps1 text eol=crlf

# Unix files
**/*.sh text eol=lf
**/start text eol=lf

# EOL for Dockerfile
**/Dockerfile text eol=lf

# EOL for Http Requests
**/*.req text eol=crlf
**/*.resp text eol=crlf
**/*.http text eol=crlf
**/*.eml text eol=crlf
