#header {
    border-bottom: 1px solid #dddddd;
    padding: 4px 11px 3px;
    background: #f9f9f9;
}

#content {
     overflow: auto;
}

#footer {
    border-top: 1px solid #dddddd;
    background: #f9f9f9;
}
