<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="OpenL Tablets"
            id="org.openl.rules.wizard.openl.rules.category">
      </category>
      <wizard
            name="Simple OpenL Tablets Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category"
            class="org.openl.rules.eclipse.wizard.NewSimpleOpenLRulesProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewSimpleOpenLRulesProjectWizard">
      </wizard>
      <category
            name="OpenL Tools"
            parentCategory="org.openl.rules.wizard.openl.rules.category"
            id="org.openl.rules.wizard.toolscategory">
      </category>
      <wizard
            name="OpenL WebStudio - Web based editing environment"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.toolscategory"
            class="org.openl.rules.eclipse.wizard.NewWebStudioProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewWebStudioProjectWizard">
      </wizard>
      <wizard
            name="Application Demo Based on Tutorial 4 - Demonstration of deployment"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.toolscategory"
            class="org.openl.rules.eclipse.wizard.ApplicationDemoProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.ApplicationDemoProjectWizard">
      </wizard>
      <category
            name="Tutorials"
            parentCategory="org.openl.rules.wizard.openl.rules.category"
            id="org.openl.rules.wizard.tutorialscategory">
      </category>
      <wizard
            name="Tutorial 1 - Intro to Decision Tables"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial1Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial1Wizard">
      </wizard>
      <wizard
            name="Tutorial 2 - Intro to Data Tables"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial2Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial2Wizard">
      </wizard>
      <wizard
            name="Tutorial 3 - Advanced Data and Decision Tables"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial3Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial3Wizard">
      </wizard>
      <wizard
            name="Tutorial 4 - UServ Product Derby"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial4Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial4Wizard">
      </wizard>
      <wizard
            name="Tutorial 5 - Decision Table Performance Optimization"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial5Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial5Wizard">
      </wizard>
      <wizard
            name="Tutorial 6 - Sudoku Solver"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial6Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial6Wizard">
      </wizard>
      <wizard
            name="Tutorial 7 - ColumnMatch example"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial7Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial7Wizard">
      </wizard>
      <wizard
            name="Tutorial 8 - TBasic example"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial8Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial8Wizard">
      </wizard>
      <wizard
            name="Tutorial 9 - Spreadsheet example"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial9Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial9Wizard">
      </wizard>
      <wizard
            name="Tutorial 10 - Lookup, rules overloading and Excel 2007 example"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.tutorialscategory"
            class="org.openl.rules.eclipse.wizard.Tutorial10Wizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.Tutorial10Wizard">
      </wizard>
      <category
            name="Examples"
            parentCategory="org.openl.rules.wizard.openl.rules.category"
            id="org.openl.rules.wizard.examplescategory">
      </category>
      <wizard
            name="Hello Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.examplescategory"
            class="org.openl.rules.eclipse.wizard.NewHelloProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewHelloProjectWizard">
      </wizard>
      <wizard
            name="Banking Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.examplescategory"
            class="org.openl.rules.eclipse.wizard.NewBankingProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewBankingProjectWizard">
      </wizard>
      <wizard
            name="HealthCare Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.examplescategory"
            class="org.openl.rules.eclipse.wizard.NewHealthCareProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewHealthCareProjectWizard">
      </wizard>
      <wizard
            name="Insurance Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.examplescategory"
            class="org.openl.rules.eclipse.wizard.NewInsuranceProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewInsuranceProjectWizard">
      </wizard>
      <wizard
            name="Loan Project"
            icon="icons/full/ctool16/new_openl_rules_project_wizard.gif"
            category="org.openl.rules.wizard.openl.rules.category/org.openl.rules.wizard.examplescategory"
            class="org.openl.rules.eclipse.wizard.NewLoanProjectWizard"
            project="true"
            id="org.openl.rules.eclipse.wizard.NewLoanProjectWizard">
      </wizard>
   </extension>


</plugin>
