<configuration scan="true" scanPeriod="60 seconds">

    <property resource="logback.properties"/>
    <insertFromJNDI env-entry-name="java:comp/env/appName" as="appName"/>
    <property name="appName" value="${appName:-ruleservice}"/>
    <property name="logPath" value="${logPath:-${catalina.base}/logs}"/>
    <property name="logLevel" value="${logLevel:-INFO}"/>
    <property name="logLevel.console" value="${logLevel.console:-${logLevel}}"/>
    <property name="extConfig" value="${extConfig:-logback-ext.xml}"/>
    <!-- priority of appName resolving: -->
    <!-- 1. JNDI -->
    <!-- 2. logback.properties -->
    <!-- 3. system properties -->
    <contextName>${appName}</contextName>
    <jmxConfigurator/>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <File>${logPath}/${appName}.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p [%t] [%c{50}]: %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${logPath}/${appName}.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel.console}</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %5p [%t] [%c{30}]: %m%n</pattern>
        </encoder>
    </appender>

    <!-- Append new or override exist appenders and configurations -->
    <include resource="${extConfig}"/>

    <root level="${logLevel}">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>
