#foreach( $tablePropertyDefinition in $tablePropertyDefinitions )
    public $tool.getTypeName($tablePropertyDefinition.Type.InstanceClass) get$tool.formatAccessorName($tablePropertyDefinition.Name)() {
        return ($tool.getTypeName($tablePropertyDefinition.Type.InstanceClass)) getPropertyValue("$tablePropertyDefinition.Name"); 
    }
    public void set$tool.formatAccessorName($tablePropertyDefinition.Name)($tool.getTypeName($tablePropertyDefinition.Type.InstanceClass) $tablePropertyDefinition.Name) {
        setFieldValue("$tablePropertyDefinition.Name", $tablePropertyDefinition.Name);
        reset();
    }	
#end