#foreach( $priorityRuleWrapper in $priorityRuleWrappers.simplePriorityRuleWrappers )
#if (${priorityRuleWrapper.operationName} == 'MAX')
        maxMinPriorityRules.add(Comparator.comparing(ITableProperties::get$tool.formatAccessorName($priorityRuleWrapper.propertyName), Comparator.nullsLast(Comparator.reverseOrder())));
#else
        maxMinPriorityRules.add(Comparator.comparing(ITableProperties::get$tool.formatAccessorName($priorityRuleWrapper.propertyName), Comparator.nullsLast(Comparator.naturalOrder())));
#end
#end
#foreach( $priorityRuleWrapper in $priorityRuleWrappers.javaClassPriorityRuleWrappers )
        maxMinPriorityRules.add(new JavaClassTablesComparator(new ${priorityRuleWrapper.className}()}));
#end