    @Override
    public IRuntimeContext clone() throws CloneNotSupportedException {
        DefaultRulesRuntimeContext defaultRulesRuntimeContext = (DefaultRulesRuntimeContext) super.clone();
#foreach( $contextPropertyDefinition in $contextPropertyDefinitions )
        defaultRulesRuntimeContext.set$tool.formatAccessorName($contextPropertyDefinition.Name)(this.$contextPropertyDefinition.Name);
#end
        return defaultRulesRuntimeContext;
    }

    @Override
    public void setValue(String name, Object value) {
#foreach( $contextPropertyDefinition in $contextPropertyDefinitions )
        if ("$contextPropertyDefinition.Name".equals(name)) {
            set$tool.formatAccessorName($contextPropertyDefinition.Name)(($tool.getTypeName($contextPropertyDefinition.Type.InstanceClass)) value);
            return;
        }
#end
    }

#foreach( $contextPropertyDefinition in $contextPropertyDefinitions )
    private $tool.getTypeName($contextPropertyDefinition.Type.InstanceClass) $contextPropertyDefinition.Name = null;

    @Override
    public $tool.getTypeName($contextPropertyDefinition.Type.InstanceClass) get$tool.formatAccessorName($contextPropertyDefinition.Name)() {
        return $contextPropertyDefinition.Name;
    }

    @Override
    public void set$tool.formatAccessorName($contextPropertyDefinition.Name)($tool.getTypeName($contextPropertyDefinition.Type.InstanceClass) $contextPropertyDefinition.Name) {
        this.$contextPropertyDefinition.Name = $contextPropertyDefinition.Name;
        internalMap.put("$contextPropertyDefinition.Name", $contextPropertyDefinition.Name);
        cache = null;
    }

#end

    public static final Map<String, Class<?>> CONTEXT_PROPERTIES;
    
    static {
        Map<String, Class<?>> contextFields = new TreeMap<>();
#foreach( $contextPropertyDefinition in $contextPropertyDefinitions )
        contextFields.put("$contextPropertyDefinition.Name", $tool.getTypeName($contextPropertyDefinition.Type.InstanceClass) .class);
#end
        CONTEXT_PROPERTIES = Collections.unmodifiableMap(contextFields); 
    }
