    private List<String> getNotNullPropertyNames(IRulesRuntimeContext context) {
        List<String> propNames = new ArrayList<>();

#foreach( $tablePropertyDefinition in $tablePropertyDefinitions )
        if (context.get$tool.formatAccessorName($tablePropertyDefinition.ContextVar)() != null) {
            propNames.add("$tablePropertyDefinition.Definition.Name");
        }
#end

        return propNames;
    }

