#foreach( $contextPropertyDefinition in $contextPropertyDefinitions )
    @Override
    public $tool.getTypeName($contextPropertyDefinition.Type.InstanceClass) get$tool.formatAccessorName($contextPropertyDefinition.Name)() {
        if (super.get$tool.formatAccessorName($contextPropertyDefinition.Name)() == null) {
            return delegate.get$tool.formatAccessorName($contextPropertyDefinition.Name)();
        }
        return super.get$tool.formatAccessorName($contextPropertyDefinition.Name)();
    }
#end