/* Common Color Picker styles */

.colorPicker {
    display: block;
    position: absolute;
    z-index: 9000;
    left: -1000px;
    padding: 5px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    border: 1px solid rgb(170, 170, 170);
    background: #FFFFFF;
}

.cp_palette table {
    border-collapse: collapse;
}

.cp_palette table td {
    padding: 0px 1px;
}

.cp_palette table td div {
    font: 0px;
    width: 12px;
    height: 12px;
    border: 0px;
}

.cp_selected {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #F5840A !important;
}

.corner_all {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.shadow_all {
    box-shadow: 3px 3px 3px #DDDDDD;
    -moz-box-shadow: 3px 3px 3px #DDDDDD;
    -webkit-box-shadow: 3px 3px 3px #DDDDDD;
}
