.te_, .te_menu {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 100%;
}

.te_ input {
    font-size: 100%;
}

.te_selected {
    color: #fff !important;
    background: #6ad !important;
}

.te_comment {
    background-image: url("../img/comment_arrow.gif") !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
}

.te_bigtable_mes {
    margin-top: 5px;
    padding: 5px 7px;
    color: white;
    background: rgb(255,80,80);
    display: inline-block;
}

.te_bigtable_mes_header {
    font-weight: bold;
    margin-bottom: 2px;
}

.te_menu_header {
    font-weight: bold;
    padding: 0px 0px 1px 6px;
}

.te_menu_item * {
    color: rgb(50, 50, 50) !important;
    text-decoration: none !important;
 }

.te_menu_item {
    padding: 1px 10px;
}

.te_menu_item_hover {
    background: #C8DEFF;
    cursor: pointer;
}

.te_editor_wrapper {
    position: absolute;
    z-index: 3;
    background-color: #B4C8FF;
}

.te_toolbar {
    background-color: #f7f7f7;
    width: 647px;
    margin-bottom: 7px;
    padding: 5px 2px;
    font-size: 0px;
}

.te_toolbar img {
    margin: 0px 3px;
    padding: 4px;
}

.te_toolbar_item {
    border: 1px solid #f7f7f7;
}

.te_toolbar_item_disabled {
    opacity: 0.15;
    border-color: #f7f7f7 !important;
    cursor: default !important;
}

.te_toolbar_item_pressed {
    border-color: #8c2;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 0px 3px #fff inset;
}

.te_toolbar_item_over {
    border-color: #8c2;
    cursor: pointer;
    box-shadow: 0px 0px 3px #fff inset;
}

.te_toolbar .item_separator {
    margin: 0px 4px;
    height: 18px;
}

.te_table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.te_table > tbody > tr > td {
    vertical-align: bottom;
    background: #fff;
    color: #000;
    padding: 2px;
    border: 1px solid #bbd;
    font-family: Franklin Gothic Book;
    font-size: 12px;
}

/* Deprecated */

.te_menu {
    background-color: white;
    border: 1px solid rgb(155,175,255);
    padding: 4px;
    font-size: 110%;
}

.te_menu a, .te_menu a:visited {
    text-decoration: underline;
    color: rgb(75,105,195);
}

.te_menu a:hover {
    text-decoration: underline;
    color: rgb(215,125,0);
}

.te_hidden {
    display: none;
}