.popup {
    position: absolute;
    z-index: 9102;
    padding: 3px 1px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    background: rgb(253, 253, 253);
    border-width: 1px;
    border-style: solid;
    border-color: #b4b4b4 #646464 #646464 #b4b4b4;
    color: #282828;
    border-radius: 1px;
}