.te_, .te_menu {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 100%;
}

.te_ input {
    font-size: 100%;
}

.te_selected {
    color: #fff !important;
    background: #6ad !important;
}

.te_comment {
    background-image: url("../img/comment_arrow.gif") !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
}

.te_bigtable_mes {
    margin-top: 5px;
    padding: 5px 7px;
    color: white;
    background: rgb(255,80,80);
    display: inline-block;
}

.te_bigtable_mes_header {
    font-weight: bold;
    margin-bottom: 2px;
}

.te_menu_header {
    font-weight: bold;
    padding: 0px 0px 1px 6px;
}

.te_menu_item * {
    color: rgb(50, 50, 50) !important;
    text-decoration: none !important;
 }

.te_menu_item {
    padding: 1px 10px;
}

.te_menu_item_hover {
    background: #C8DEFF;
    cursor: pointer;
}

.te_editor_wrapper {
    position: absolute;
    z-index: 3;
    background-color: #B4C8FF;
}

.te_toolbar {
    background-color: #f7f7f7;
    width: 647px;
    margin-bottom: 7px;
    padding: 5px 2px;
    font-size: 0px;
}

.te_toolbar img {
    margin: 0px 3px;
    padding: 4px;
}

.te_toolbar_item {
    border: 1px solid #f7f7f7;
}

.te_toolbar_item_disabled {
    opacity: 0.15;
    border-color: #f7f7f7 !important;
    cursor: default !important;
}

.te_toolbar_item_pressed {
    border-color: #8c2;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 0px 3px #fff inset;
}

.te_toolbar_item_over {
    border-color: #8c2;
    cursor: pointer;
    box-shadow: 0px 0px 3px #fff inset;
}

.te_toolbar .item_separator {
    margin: 0px 4px;
    height: 18px;
}

.te_table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.te_table > tbody > tr > td {
    vertical-align: bottom;
    background: #fff;
    color: #000;
    padding: 2px;
    border: 1px solid #bbd;
    font-family: Franklin Gothic Book;
    font-size: 12px;
}

/* Deprecated */

.te_menu {
    background-color: white;
    border: 1px solid rgb(155,175,255);
    padding: 4px;
    font-size: 110%;
}

.te_menu a, .te_menu a:visited {
    text-decoration: underline;
    color: rgb(75,105,195);
}

.te_menu a:hover {
    text-decoration: underline;
    color: rgb(215,125,0);
}

.te_hidden {
    display: none;
}/* Tooltip skins */
.tooltip_skin-default {
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
}

.tooltip_skin-green {
    background: rgb(230, 255, 225);
    border: 1px solid rgb(170, 230, 180);
    color: rgb(40, 60, 50);
}

.tooltip_skin-blue {
    background: rgb(230, 240, 255);
    border: 1px solid rgb(160, 200, 230);
    color: rgb(60, 60, 60);
}

.tooltip_skin-red {
    background: rgb(255, 180, 180);
    border: 1px solid rgb(255, 110, 90);
    color: rgb(70, 40, 40);
}

/* Common Tooltip styles */

.ctooltip {
    position: absolute;
    z-index: 9101;
    left: -1000px;
    padding: 3px 8px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
}

/* Tooltip pointer styles */

.ctooltip .tooltip_pointer,
.ctooltip .tooltip_pointer_body {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0;
    background: none;
    font-size: 0;
}

.tooltip_top_right .tooltip_pointer {
    border-left: 0px;
    border-right: 10px solid transparent;
    border-top-width: 10px;
    bottom: -10px;
    left: 10%;
}

.tooltip_top_right .tooltip_pointer_body {
    border-left: 0px;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    top: -10px;
    left: 1px;
}

*html .tooltip_top_right .tooltip_pointer,
*html .tooltip_top_right .tooltip_pointer_body {
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_top_center .tooltip_pointer {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 12px;
    bottom: -12px;
    left: 45%;
}

.tooltip_top_center .tooltip_pointer_body {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid transparent;
    top: -12px;
    left: -4px;
}

*html .tooltip_top_center .tooltip_pointer,
*html .tooltip_top_center .tooltip_pointer_body {
    border-left-color: #000001;
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_top_left .tooltip_pointer {
    border-left: 10px solid transparent;
    border-right: 0px;
    border-top-width: 10px;
    bottom: -10px;
    right: 10%;
}

.tooltip_top_left .tooltip_pointer_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -10px;
    right: 1px;
}

*html .tooltip_top_left .tooltip_pointer,
*html .tooltip_top_left .tooltip_pointer_body {
    border-left-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_right_bottom .tooltip_pointer {
    border-left: 10px solid transparent;
    border-right: 0px;
    border-top-width: 10px;
    top: 9px;
    left: -10px;
}

.tooltip_right_bottom .tooltip_pointer_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -9px;
    right: 0px;
}

*html .tooltip_right_bottom .tooltip_pointer,
*html .tooltip_right_bottom .tooltip_pointer_body {
    border-top-color: #000001;
    filter: chroma(color=#000001);
}

.corner_all {
    border-radius: 1px;
}

.shadow_all {
    box-shadow: 2px 2px 3px #eee;
}
/* This is a very basic stylesheet for the date-picker. Feel free to create your own. */

/* Hide the input by using a className */
input.fd-hidden-input,
select.fd-hidden-input
        {
        display:none;
        }
/* Screen reader class - hides it from the visual display */
.fd-screen-reader
        {
        position:absolute;
        left:-999em;
        top:0;
        width:1px;
        height:1px;
        overflow:hidden; 
        outline: 0 none;
	-moz-outline: 0 none;
        } 
/* Disabled datePicker and activation button */
a.dp-disabled,
.dp-disabled table
        {
        opacity:.3 !important;           
        filter:alpha(opacity=40);           
        }
.dp-disabled,
.dp-disabled td,
.dp-disabled th,
.dp-disabled th span
        {
        cursor:default !important;          
        }
a.date-picker-control:focus,
div.datePicker table td:focus 
        {
        overflow:hidden;
        outline:0 none;
	-moz-outline: 0 none;
	color:rgb(100,130,170) !important;
        }
/* The wrapper div */
div.datePicker
        {
        position:absolute;        
        z-index:9999;
        text-align:center;

        /* Change the font-size to suit your design's CSS. The following line is for the demo that has a 12px font-size defined on the body tag */
        font:900 0.8em/1em Verdana, Sans-Serif;

        /* For Example: If using the YUI font CSS, uncomment the following line to get a 10px font-size within the datePicker */
        /* font:900 77%/77% Verdana, sans-serif; */
        
        /* Or, if you prefer a pixel precision */
        /* font:900 12px/12px Verdana, sans-serif; */
        
        background:transparent;

        /* Mozilla & Webkit extensions to stop text-selection. */
        -moz-user-select:none;
        -khtml-user-select:none;                 
        }  
/* Styles for the static datePickers */
div.static-datepicker
        {
        position:relative;        
        top:5px;
        left:0;
        }
div.datePicker table
        {
        width:auto;
        height:auto;
        border-collapse:separate;         
        } 
/* Draggable datepickers */
div.datePicker tfoot th.drag-enabled,
div.datePicker thead th.drag-enabled,
div.datePicker thead th.drag-enabled span
        {
        cursor:move;
        }
/* The iframe hack to cover selectlists in Internet Explorer <= v6 */
iframe.iehack
        {
        position:absolute;
        background:#fff;
        z-index:9998;
        padding:0;
        border:0;
        display:none;
        margin:0;
        }
/* The "button" created beside each input for non-static datePickers */
a.date-picker-control:link,
a.date-picker-control:visited
        {
        position:relative;
        /* Moz & FF */
        display: -moz-inline-stack;
        border:0 none;
        padding:0;
        margin:0 0 0 4px;
        background:transparent url(../img/datepicker/cal-grey.gif) no-repeat 50% 50%;
        min-width:16px;
        line-height:1;
        cursor:pointer;
        visibility:visible;
        text-decoration:none;
        vertical-align:top;         
        }
a.date-picker-control:hover,
a.date-picker-control:active,
a.date-picker-control:focus,
a.dp-button-active:link,
a.dp-button-active:visited,
a.dp-button-active:hover,
a.dp-button-active:active,
a.dp-button-active:focus
        {
        background:transparent url(../img/datepicker/cal.gif) no-repeat 50% 50% !important;
        }
/* Feed IE6 the following rule, IE7 should handle the min-width declared above */
* html a.date-picker-control
        {
        width:16px;
        }
/* IE, Safari & Opera. Seperate CSS rule seems to be required. */
a.date-picker-control
        {
        display:inline-block;
        }
a.date-picker-control span
        {
        display:block;
        width:16px;
        height:16px;
        margin:auto 0;
        }
/* Default "button" styles */
div.datePicker thead th span
        {
        display:block;
        padding:0;
        margin:0;
        text-align:center;
        line-height:1em;
        border:0 none;
        background:transparent;
        font-weight:bold;
        cursor:pointer;
        }
/* The "month, year" display */
div.datePicker th span.month-display,
div.datePicker th span.year-display
        {
        display:inline;
        text-transform:uppercase;
        letter-spacing:1px;
        font:normal 1.2em Verdana, Sans-Serif;
        cursor:default;          
        }
/* Next & Previous (month, year) buttons */
div.datePicker th span.prev-but,
div.datePicker th span.next-but
        {
        font-weight:lighter;
        font-size:2.4em;
        font-family: georgia, times new roman, palatino, times, bookman, serif;
        cursor:pointer !important;
        }
/* Hover effect for Next & Previous (month, year) buttons */
div.datePicker th span.prev-but:hover,
div.datePicker th span.next-but:hover,
div.datePicker th span.today-but:hover
        {
        color:#a84444;
        }
/* Today button */
div.datePicker th span.today-but
        {
        text-align:center;
        margin:0 auto;
        font:normal 1em Verdana, Sans-Serif;
        width:100%;
        text-decoration:none;
        padding-top:0.3em;
        text-transform:uppercase;
        vertical-align:middle;
        cursor:pointer !important          
        }
/* Disabled buttons */ 
div.dp-disabled th span.prev-but,
div.dp-disabled th span.next-but,
div.dp-disabled th span.today-but,
div.dp-disabled th span.prev-but:hover,
div.dp-disabled th span.next-but:hover,
div.dp-disabled th span.today-but:hover,
div.datePicker th span.prev-but.fd-disabled:hover,
div.datePicker th span.next-but.fd-disabled:hover,
div.datePicker thead th span.fd-disabled,
div.datePicker th span.fd-disabled:hover
        {
        color:#aaa;
        cursor:default !important; 
        opacity:1;        
        }   
/* The mon, tue, wed etc day buttons */
div.datePicker th span.fd-day-header
        {
        text-align:center;
        margin:0 auto;
        font:900 1em Verdana, Sans-Serif;
        text-decoration:none;
        text-transform:lowercase;
        cursor:pointer;          
        }
/* The table */
div.datePicker table
        {               
        margin:0;
        padding:0;
        border: 1px solid #d2d2d2;
        background: #fff;
        text-align:center;
        border-spacing:2px;
        padding:0.3em;
        width:auto;
        empty-cells:show;
        box-shadow: 2px 2px 3px #eee;
        }
/* Common TD & TH styling */
div.datePicker table td,
div.datePicker table tbody th
        {                 
        border:0 none;
        padding:0;
        text-align:center;
        vertical-align:middle;               
        cursor:pointer;
        background: #fff;
        width:3em;
        height:3em;   
        overflow:hidden;      
        outline:transparent none 0px;        
        border:1px solid #ccc;
        text-transform:none;         
        }
div.datePicker table td:focus,
div.datePicker table td:active
        {
        outline:0 none red;
        }
div.datePicker table th
        {
        border:0 none;
        padding:0;        
        font-weight:bold;
        color:#222;
        text-align:center;
        vertical-align:middle; 
        text-transform:none;        
        }
div.datePicker table thead th
        {
        height:auto !important;
        }
div.datePicker table tbody th
        {                          
        border:1px solid #dcdcdc;        
        }
/* Week number display */
div.datePicker table thead th.date-picker-week-header,
div.datePicker table tbody th.date-picker-week-header
        {
        font-style:oblique;  
        background:transparent;
        cursor:default;         
        }
div.datePicker table thead th.date-picker-week-header
        {
        cursor:help;
        border:0 none;
        padding:0 0 0.2em 0;
        }
/* tfoot status bar */
div.datePicker tfoot th
        {
        cursor:default;
        font-weight:normal;
        text-transform:uppercase;
        letter-spacing:0.1em;
        border:0 none;
        background:#fff;
        height:2.8em;
        }
/* TD cell that is _not_ used to display a day of the month */
div.datePicker table tbody td.date-picker-unused
        {
        background:#fff url(../img/datepicker/backstripes.gif);
        border-color:#dcdcdc;          
        cursor:default !important;
        }

/* The TH cell used to display the "month, year" title */
div.datePicker table thead th.date-picker-title
        {
        width:auto;
        height:auto;
        padding:0.4em 0;
        }
/* The "mon tue wed etc" day header styles */
div.datePicker table thead th.date-picker-day-header
        {
        text-transform:lowercase;
        cursor:help;
        height:auto;
        }
/* The "todays date" style */
div.datePicker table tbody td.date-picker-today
        {
        background: #fff;
        border-color: #6ad !important;
        color:rgb(100,100,100) !important;
        }

div.datePicker table tbody td.month-out.date-picker-highlight 
        {
        color:#aa8866 !important;
        }
/* The "highlight days" style */
div.datePicker table tbody td.date-picker-highlight,
div.datePicker table thead th.date-picker-highlight
        {
        color:#a86666 !important;
        }
/* The "active cursor" style */
div.datePicker table tbody td.date-picker-hover
        {
        background: #d8f3ff;
        cursor:pointer;
        border-color:rgb(100,130,170) !important;
        color:rgb(100,130,170); 
        text-shadow: 0px 1px 1px #fff;                
        }
/* The "disabled days" style */
div.datePicker table tbody td.day-disabled
        {          
        background:#fff url(../img/datepicker/backstripes.gif) no-repeat 0 0;
        color:#aaa !important;
        cursor:default;
        text-decoration:line-through;
        } 
div.datePicker table tbody td.month-out
        {
        border-color:#ddd;
        color:#aaa !important;
        background: #fff;
        } 
/* The "selected date" style */
div.datePicker table tbody td.date-picker-selected-date
        {
        color:#333 !important;
        border-color:#333 !important;
        }
/* The date "out of range" style */
div.datePicker table tbody td.out-of-range,
div.datePicker table tbody td.not-selectable
        {           
        color:#ccc !important;
        font-style:oblique;
        background:#fcfcfc !important;
        cursor:default !important;              
        } 
/* Week number "out of range" && "month-out" styles */
div.datePicker table tbody th.month-out,
div.datePicker table tbody th.out-of-range
        {
        color:#aaa !important;
        font-style:oblique;
        background:#fcfcfc !important;          
        }
/* week numbers "out of range" */
div.datePicker table tbody th.out-of-range
        {
        opacity:0.6;
        filter:alpha(opacity=60);
        }  
/* Used when the entire grid is full but the next/prev months dates cannot be selected */
div.datePicker table tbody td.not-selectable
        {         
        opacity:0.8;
        filter:alpha(opacity=80);        
        }
div.datePicker table tbody tr
        {
        display:table-row;
        }
div.datePicker table tfoot sup
        {
        font-size:0.86em;
        letter-spacing:normal;
        text-transform:none;
        height: 0;
	line-height: 1;
	position: relative;
	top: -0.2em;	
	vertical-align: baseline !important;
	vertical-align: top;  
        }
div.datePicker table thead th.date-picker-day-header,
div.datePicker table thead span.month-display,
div.datePicker table thead span.year-display
        {            
        text-shadow: 0px 1px 1px #fff;                            
        }
/* You can add focus effects (for everything but IE6) like so: */

div.datepicker-focus table.datePickerTable
        {
        border-color:#999 !important;         
        }
div.datePicker table tbody tr td:focus,
div.datePicker table tbody td.date-picker-hover 
        {
        overflow:hidden;
        outline:0px solid #ff0000;        
	-moz-outline: 0 none;
	color:rgb(100,130,170) !important;        	
        }
div.static-datepicker table
        {
        -moz-box-shadow:0 0 0 transparent;
        
        }               
div.datepicker-focus table
        {
        /* Naughty, naughty - but we add a highlight using the table's border colour */
        outline:none;
         -moz-box-shadow:0px 0px 5px #aaa;         
        }    

/* INTERNET EXPLORER WOES
   ======================
   
   Hover Effects
   -------------
   
   IE cannot deal with :focus on the TR so the datePicker script adds the class "dp-row-highlight" to the
   row currently being hovered over. This should enable you to add hover effects if desired.
   
   e.g. the following rule will highlight the cell borders in another colour when a row is moused over,
   it looks like crap though so I didn't include the rule within the demo:
   
div.datePicker table tbody tr.dp-row-highlight td
        {
        border-color:#aaa;
        }
*/

* html div.datePicker table td.date-picker-unused
        {
        background:#f2f2f2;
        }
body.fd-drag-active 
        {
        -webkit-user-select:none;
        }
.multiselect_container_outer {
    position: absolute;
    background: #fff;
    border: 1px solid #d2d2d2;
    padding-top: 3px;
    z-index: 9001;
    box-shadow: 2px 2px 3px #eee;
    min-width: 149px;
}

.multiselect_container_outer .multiselect_buttons {
    padding: 1px 6px;
}

.multiselect_container_outer .multiselect_buttons input {
    border: 1px solid #A5C5EE;
    border-radius: 1px;
    background: #CBE5FF;
    color: #333333;
    box-shadow: 0 0 1px rgb(230,230,230);
    margin: 0;
}

.multiselect_container_outer .multiselect_buttons input:hover {
    box-shadow: 0 0 4px rgb(170,190,220);
    cursor: pointer;
    color: #111111;
}

.multiselect_container {
    overflow: auto;
    max-height: 300px;
    border-top: 1px dashed #D7D7D7;
    padding: 2px 3px;
    margin-top: 5px;
    //height: expression(this.scrollHeight > 300 ? '300px' : 'auto'); /* IE */
}

.multiselect_container div:hover {
    background: #CBE5FF;
}
.range {
    display: inline-block;
    padding: 5px;
    background: #fff;
    border: 1px solid #d2d2d2;
    box-shadow: 2px 2px 3px #eee;
    width: 211px;
}

.range-table td {
    vertical-align: top;
}

.range-table td:first-child {
    width: 83px;
}

.range-table input[type='checkbox'] {
    margin: 2px;
}

.range-label {
    margin-top: 9px;
    padding: 4px 2px;
    color: #888;
}

input.range-input {
    width: 60px;
    width: 46px\9;
    margin: 0 1px;
}

.range-btn {
    display: block;
    width: 23px;
    padding: 2px !important;
    border: 0 !important;
    margin: 0 4px !important;
    box-shadow: none !important;
}

.range-btn-selected {
    background: #55B1F7 !important;
    color: #fff !important;
}

.range-btn:hover {
    background: #55B1F7 !important;
    color: #fff !important;
}

.range-result {
    border-top: 1px solid #e5e5e5;
    margin: 8px 0;
    padding-top: 9px;
    text-align: center;
}

.range-done {
    text-align: center;
    margin: 9px 0 3px;
}
/* Common Color Picker styles */

.colorPicker {
    display: block;
    position: absolute;
    z-index: 9000;
    left: -1000px;
    padding: 5px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    border: 1px solid rgb(170, 170, 170);
    background: #FFFFFF;
}

.cp_palette table {
    border-collapse: collapse;
}

.cp_palette table td {
    padding: 0px 1px;
}

.cp_palette table td div {
    font: 0px;
    width: 12px;
    height: 12px;
    border: 0px;
}

.cp_selected {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #F5840A !important;
}

.corner_all {
    border-radius: 1px;
}

.shadow_all {
    box-shadow: 2px 2px 3px #eee;
}
.popup {
    position: absolute;
    z-index: 9102;
    padding: 3px 1px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    background: rgb(253, 253, 253);
    border-width: 1px;
    border-style: solid;
    border-color: #b4b4b4 #646464 #646464 #b4b4b4;
    color: #282828;
    border-radius: 1px;
}