/* Tooltip skins */
.tooltip_skin-default {
    background: #fff;
    border: 1px solid #ccc;
    color: #555;
}

.tooltip_skin-green {
    background: rgb(230, 255, 225);
    border: 1px solid rgb(170, 230, 180);
    color: rgb(40, 60, 50);
}

.tooltip_skin-blue {
    background: rgb(230, 240, 255);
    border: 1px solid rgb(160, 200, 230);
    color: rgb(60, 60, 60);
}

.tooltip_skin-red {
    background: rgb(255, 180, 180);
    border: 1px solid rgb(255, 110, 90);
    color: rgb(70, 40, 40);
}

/* Common Tooltip styles */

.ctooltip {
    position: absolute;
    z-index: 9101;
    left: -1000px;
    padding: 3px 8px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
}

/* Tooltip pointer styles */

.ctooltip .tooltip_pointer,
.ctooltip .tooltip_pointer_body {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0;
    background: none;
    font-size: 0;
}

.tooltip_top_right .tooltip_pointer {
    border-left: 0px;
    border-right: 10px solid transparent;
    border-top-width: 10px;
    bottom: -10px;
    left: 10%;
}

.tooltip_top_right .tooltip_pointer_body {
    border-left: 0px;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    top: -10px;
    left: 1px;
}

*html .tooltip_top_right .tooltip_pointer,
*html .tooltip_top_right .tooltip_pointer_body {
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_top_center .tooltip_pointer {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 12px;
    bottom: -12px;
    left: 45%;
}

.tooltip_top_center .tooltip_pointer_body {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid transparent;
    top: -12px;
    left: -4px;
}

*html .tooltip_top_center .tooltip_pointer,
*html .tooltip_top_center .tooltip_pointer_body {
    border-left-color: #000001;
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_top_left .tooltip_pointer {
    border-left: 10px solid transparent;
    border-right: 0px;
    border-top-width: 10px;
    bottom: -10px;
    right: 10%;
}

.tooltip_top_left .tooltip_pointer_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -10px;
    right: 1px;
}

*html .tooltip_top_left .tooltip_pointer,
*html .tooltip_top_left .tooltip_pointer_body {
    border-left-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_right_bottom .tooltip_pointer {
    border-left: 10px solid transparent;
    border-right: 0px;
    border-top-width: 10px;
    top: 9px;
    left: -10px;
}

.tooltip_right_bottom .tooltip_pointer_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -9px;
    right: 0px;
}

*html .tooltip_right_bottom .tooltip_pointer,
*html .tooltip_right_bottom .tooltip_pointer_body {
    border-top-color: #000001;
    filter: chroma(color=#000001);
}

.corner_all {
    border-radius: 1px;
}

.shadow_all {
    box-shadow: 2px 2px 3px #eee;
}
