.te_, .te_menu {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 100%;
}

.te_ input {
    font-size: 100%;
}

.te_comment {
    background: url("../img/comment_arrow.gif") no-repeat right top;
}