.te_toolbar {
    background-color: #CCDEFF;
    width: 700px;
    margin-bottom: 5px;
    padding: 2px 0px;
    font-size: 0px;
    border: 1px solid rgb(185, 200, 235);
}

.te_toolbar img {
    margin: 0px 3px;
    padding: 4px;
}

.te_toolbar_item {
    border: 1px solid rgb(170, 180, 210);
    background: -moz-linear-gradient(to bottom, #fff, #ccdeff);
    background: -webkit-linear-gradient(top, #fff, #ccdeff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ccdeff)";
    background: linear-gradient(to bottom, #fff, #ccdeff);
}

.te_toolbar_item_disabled {
    border-color: rgb(130, 140, 170);
    opacity: 0.15;
}

.te_toolbar_item_over {
    border-color: orange;
    cursor: pointer;
    background: -moz-linear-gradient(to bottom, #fff, #ffeedd);
    background: -webkit-linear-gradient(top, #fff, #ffeedd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffeedd)";
    background: linear-gradient(to bottom, #fff, #ffeedd);
}

.te_toolbar .item_separator {
    margin: 0px 4px;
    height: 18px;
}