/* Tooltip skins */
.tooltip_skin-default {
    background: rgb(253, 253, 253);
    border: 1px solid rgb(120, 120, 120);
    color: rgb(60, 60, 60);
}

.tooltip_skin-green {
    background: rgb(230, 255, 225);
    border: 1px solid rgb(170, 230, 180);
    color: rgb(40, 60, 50);
}

.tooltip_skin-blue {
    background: rgb(230, 240, 255);
    border: 1px solid rgb(160, 200, 230);
    color: rgb(60, 60, 60);
}

.tooltip_skin-red {
    background: rgb(255, 180, 180);
    border: 1px solid rgb(255, 110, 90);
    color: rgb(70, 40, 40);
}

/* Common Tooltip styles */

.tooltip {
    position: absolute;
    z-index: 9101;
    left: -1000px;
    padding: 3px 7px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
}

/* Tooltip pointer styles */

.tooltip .tooltip_pointer_down,
.tooltip .tooltip_pointer_down_body {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0;
    background: none;
    font-size: 0;
}

.tooltip_left .tooltip_pointer_down {
    border-left: 0px;
    border-right: 10px solid transparent;
    border-top-width: 10px;
    bottom: -10px;
    left: 10%;
}

.tooltip_left .tooltip_pointer_down_body {
    border-left: 0px;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    top: -10px;
    left: 1px;
}

*html .tooltip_left .tooltip_pointer_down,
*html .tooltip_left .tooltip_pointer_down_body {
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_center .tooltip_pointer_down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 12px;
    bottom: -12px;
    left: 45%;
}

.tooltip_center .tooltip_pointer_down_body {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid transparent;
    top: -12px;
    left: -4px;
}

*html .tooltip_center .tooltip_pointer_down,
*html .tooltip_center .tooltip_pointer_down_body {
    border-left-color: #000001;
    border-right-color: #000001;
    filter: chroma(color=#000001);
}

.tooltip_right .tooltip_pointer_down {
    border-left: 12px solid transparent;
    border-right: 0px;
    border-top-width: 12px;
    bottom: -12px;
    right: 10%;
}

.tooltip_right .tooltip_pointer_down_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -12px;
    right: 2px;
}

*html .tooltip_right .tooltip_pointer_down,
*html .tooltip_right .tooltip_pointer_down_body {
    border-left-color: #000001;
    filter: chroma(color=#000001);
}

.corner_all {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.shadow_all {
    box-shadow: 3px 3px 3px #DDDDDD;
    -moz-box-shadow: 3px 3px 3px #DDDDDD;
    -webkit-box-shadow: 3px 3px 3px #DDDDDD;
}

/* The iframe hack to cover selectlists in Internet Explorer 6 */
iframe.tooltip_ie6Popup {
    position: absolute;
    z-index: 9100;
    background: #fff;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: none;
}