.te_toolbar {
    background-color: #CCDEFF;
    width: 700px;
    margin-bottom: 5px;
    padding: 2px 0px;
    font-size: 0px;
    border: 1px solid rgb(185, 200, 235);
}

.te_toolbar img {
    margin: 0px 3px;
    padding: 4px;
}

.te_toolbar_item {
    border: 1px solid rgb(170, 180, 210);
    background: url("../img/toolbarItemTile.gif") repeat-x bottom white;
}

.te_toolbar_item_disabled {
    border-color: rgb(130, 140, 170);
    background-mage: url("../img/toolbarItemTile.gif");
    opacity: 0.15;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 15);
}

.te_toolbar_item_over {
    border-color: orange;
    background-image: url("../img/toolbarItemTileOver.gif");
}

.te_toolbar .item_separator {
    margin: 0px 4px;
    height: 18px;
}