body {color: #000000;
  
  font-family: "Arial", sans-serif;
  font-size: 10pt;
}

H1 { 
     color: #000079;
	 font-weight: bold;
     font-size: 18pt; 
     	 margin-right:15%;
	 margin-top: 10pt;
	 margin-bottom: 6pt;
	 text-align: left; 
     font-family: Arial, Helvetica, sans-serif;}

H2 { 
	 color: #000079;
     font-weight: bold;
     font-size: 16pt; 
      	 margin-right:15%;
 	 margin-top: 10pt;
	 margin-bottom: 6pt;
	 text-align: left; 
     font-family: Arial, Helvetica, sans-serif;}

H3 {
	 color: #000079;
     font-size: 14pt;
     font-weight: bold;
     	 margin-right:15%;
     margin-top: 10pt;
	 margin-bottom: 6pt;
	 text-align: left;
     font-family: Arial, Helvetica, sans-serif;}

H4 {
	 color: #000079;
     font-size: 12pt;
     font-weight: bold;
     	 margin-right:15%;
     margin-top: 16pt;
	 margin-bottom: 4pt;
	 text-align: left; 
     font-family: Arial, Helvetica, sans-serif;}

H5 {
	 color: #000079;
     font-size: 11pt;
     font-weight: bold;
     margin-right:15%;
     margin-top: 14pt;
	 margin-bottom: 2pt;
	 text-align: left; 
     font-family: Arial, Helvetica, sans-serif;}

P  { color: #000000;
	 font-family: "Arial", sans-serif;
     line-height: 14pt;
     margin-left: 2px;
     margin-right: 15%;
	 margin-top: 6pt;
	 margin-bottom: 6pt;
     text-align: left;
     font-size: 10pt;}

.code {
font-family: "Courier";}

p.codelines {
font-family: "Courier";
margin-left: 2pt;
margin-top: 0pt;
margin-bottom: 0pt;
line-height: 14pt;
}

p.listcode {
font-family: "Courier";
margin-left: 0pt;
margin-top: 0pt;
margin-bottom: 0pt;
line-height: 14pt;
}


.scriptcode {
font-family: "Courier";
font-size: 10pt;}

.note{ color: #000000;
	 font-family: "Arial", sans-serif;
	 font-size: 10pt;
     line-height: 14pt;
     margin-left: 2pt;
     margin-right: 15%;
	 margin-top: 6pt;
	 margin-bottom: 6pt;
     text-align: left;
	 background-color:#E6E6E6;}



.Tabletext, .TableText0{ font-size: 10pt;
			text-align: left;
			margin-left: 4pt;
		    margin-right: 4pt;
 			margin-top:4pt;
			vertical-align:top;
			margin-bottom:4pt;}
			

.Tablehead{ font-size: 10pt;
			font-family: bold;
			text-align: left;
			margin-left: 2pt;
		    margin-right: 4pt;
 			margin-top:4pt;
			vertical-align:top;
			margin-bottom:4pt;
			line-height: 20pt;
			text-indent: 4pt;}

	
ul, dl { color: #000000;
  padding-left: 0pt;
  margin-left: 18px;
  margin-top: 6pt;
  margin-bottom: 6pt;}

ol { color: #000000;
  padding-left: 0pt;
  margin-left: 26px;
  margin-top: 6pt;
  margin-bottom: 6pt;}

td{			margin-left: 15pt;
		    margin-right: 4pt;
 			margin-top:4pt;
			vertical-align:top;
			margin-bottom:4pt;}

th, thead{
			font-size: 10pt;
			font-family: bold;
			text-align: left;
			margin-left: 2pt;
		    margin-right: 4pt;
 			margin-top:4pt;
			vertical-align:top;
			margin-bottom:4pt;
			line-height: 20pt;
			text-indent: 4pt;}

div{		margin-left: 2pt;
			margin-right: 4pt;
 			margin-top:4pt;
			vertical-align:top;
			margin-bottom:4pt;}


pre {
  margin-left: 10%;
  white-space: pre;}


table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  margin-left: 0;
  margin-right: 0;}


p.top {
  margin-left: 1%;
  margin-right: 1%;}

blockquote {
  margin-left: 8%;
  margin-right: 8%;
  border: thin ridge #dc143c;}

blockquote pre {
  margin-left: 1%;
  margin-right: 1%;}

dt a {
  font-weight: bold;
  margin-top: .8em;}

.arrows { text-align: right;}



A:link    { color: #0088DD;
			text-decoration: underline;}
A:active  { color: #0099FF; 
			text-decoration: underline;}
A:visited { color: #336699; 
			text-decoration: underline;}







