.multi_choice_container_outer {
    background-color:bisque;
    border: 1px solid;
}

.multi_choice_container {
    overflow:auto;
    max-height: 250px;
    border-top: 1px solid;
    padding: 0;
    margin-top: 5px;
}

.multi_choice_container ul {
    list-style-type:none;
    position:relative;
    margin:0;
    padding:0;
}
