
body {
    background: #eceef8;
}

#headerWrapper {
    background-color: #eceef8;
    padding: 0px 5px;
    background: url(../webresource/images/header.png) no-repeat center;
}

#header {
    min-width: 900px;
    width: 100%;
    text-align: left;
}
