<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="OpenLModelBuilder"
         name="OpenL Tablets Model Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="com.exigen.eclipse.openl.facet.builder.OpenLModelBuilder"/>
      </builder>
   </extension>
   <extension
         point="com.exigen.eclipse.common.core.facet">
      <common-facet
            factory-class="com.exigen.eclipse.openl.facet.artefact.impl.OpenLFacetFactory"
            project-facet-id="com.exigen.eclipse.openl.facet"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet id="com.exigen.eclipse.openl.facet">
         <label>
            OpenL Tablets Facet
         </label>
         <description>
            This facet provides OpenL Tablets functionality to work business rules
         </description>
         <category>com.exigen.eclipse.common.facets</category>
      </project-facet>
      <project-facet-version
            facet="com.exigen.eclipse.openl.facet"
            version="1.0">
         <group-member id="com.exigen.eclipse.common"/>
         <constraint>
            <requires facet="com.exigen.eclipse.common.project"/>
            <requires facet="com.exigen.eclipse.common.facet.emf"/>
         </constraint>
         <action
               facet="com.exigen.eclipse.openl.facet"
               type="install">
            <delegate class="com.exigen.eclipse.openl.facet.artefact.InstallOpenLFacet"/>
         </action>
         <action
               facet="com.exigen.eclipse.openl.facet"
               type="uninstall">
            <delegate class="com.exigen.eclipse.openl.facet.artefact.UninstallOpenLFacet"/>
         </action>
      </project-facet-version>
   </extension>
	
</plugin>
