.multiselect_container_outer {
    position: absolute;
    background-color: rgb(205, 220, 255);
    border: 1px solid;
    padding-top: 3px;
    width: 240px;
    z-index: 9001;
}

.multiselect_container {
    overflow: auto;
    max-height: 300px;
    border-top: 1px solid;
    padding: 0;
    margin-top: 5px;
    //height: expression(this.scrollHeight > 300 ? '300px' : 'auto'); /* IE */
}

/* The iframe hack to cover selectlists in Internet Explorer 6 */
iframe.ms_ie6Popup {
    position: absolute;
    z-index: 9000;
    background: #fff;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: none;
}
