<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="OpenlNature"
         name="OpenL Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.openl.eclipse.base.OpenlNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.openl.eclipse.base.PluginClasspathVariableInitializer"
            variable="org.openl.core_HOME"/>
      <classpathVariableInitializer
            class="org.openl.eclipse.base.PluginClasspathVariableInitializer"
            variable="org.openl.core.impl_HOME"/>
      <classpathVariableInitializer
            class="org.openl.eclipse.base.PluginClasspathVariableInitializer"
            variable="org.openl.lib.apache_HOME"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/openl_ovr.gif"
            natureId="org.openl.eclipse.ui.OpenlNature"
            id="org.openl.eclipse.ui.OpenlProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/openl_ovr.gif"
            natureId="org.openl.base.nature"
            id="org.openl.base.nature.OldOpenlProjectNatureImage">
      </image>
   </extension>
   <extension
         id="openlbuilder"
         name="OpenL Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false"
            isConfigurable="true">
         <run class="org.openl.eclipse.builder.OpenlBuilder">
            <parameter
                  name="org.openl.eclipse.builder.ext"
                  value=".openl"/>
         </run>
      </builder>
   </extension>
   <extension
         id="openl.problem"
         name="OpenL Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         name="Launch OpenL Application"
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.openl.eclipse.launch.OpenlLaunchShortcut"
            icon="icons/full/ctool16/openl_app.gif"
            id="org.openl.eclipse.launch.OpenlLaunchShortcut"
            label="OpenL Application"
            modes="run, debug">
         <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <contextualLaunch>
            <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
               <and>
                  <test
                        property="org.openl.eclipse.ui.isInOpenLProject">
                  </test>
                  <test
                        args=".j,.openl,.xls,.science"
                        property="org.openl.eclipse.ui.isOpenLExtension">
                  </test>
               </and>
               </iterate>
             </with>
            
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="org.openl.eclipse.launch.OpenlConsoleTracker"
            id="org.openl.eclipse.base.consoleLineTracker"
            processType="java"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openl.eclipse.editor.OpenlEditor"
            default="true"
            extensions="openl, j, science"
            icon="icons/full/obj16/openl_obj.gif"
            id="org.openl.eclipse.editor"
            name="org.openl.eclipse.editor"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.openl.eclipse.launch.OpenLLaunchablePropertyTester"
            id="org.openl.eclipse.launch.OpenLLaunchablePropertyTester"
            namespace="org.openl.eclipse.ui"
            properties="isInOpenLProject,isOpenLExtension,isProject"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>

</plugin>
