body {
    color: #171717;
    background: #fefefe;
    font-family: Verdana, Helvetica, Arial;
    font-size: 70%;
}

table, input, textarea {
    font-size: 100%;
}

input[type='text'], input[type='password'], textarea, select {
    border-width: 1px !important;
    border-style: solid !important;
    border-left-color: #888888 !important;
    border-top-color: #888888 !important;
    border-right-color: rgb(230,230,230) !important;
    border-bottom-color: rgb(230,230,230) !important;
    border-radius: 1px;
    outline: none;
}

input[type='text'], input[type='password'], textarea {
    padding: 2px 3px;
}

img {
    border: 0;
}

hr {
    border: 0 !important;
    border-bottom: 1px solid rgb(190,190,190) !important;
    margin-top: 15px;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 110%;
}

a {
    outline: none;
    color: #1199ee;
}

form {
    margin: 0px;
}

#blockPopup {
	position: fixed;
	top: 43px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	z-index: 10000;
}

#ajaxLoader {
	position: fixed;
	top: 17px;
	left: 49%;
	z-index: 10001;
}

.info_box {
    padding: 12px 7px 13px 43px;
    background: url(webresource/images/info32.png) no-repeat 5px #D8E3F8;
    border: 1px solid;
    border-color: #5C8ADB #8EBCFF;
    border-radius: 1px;
    -webkit-animation: info_box_anm 1s;
    -moz-animation: info_box_anm 1s;
}

@-webkit-keyframes info_box_anm {
    from { background-color: #EDF2FC; }
    to { background-color: #D8E3F8; }
}

@-moz-keyframes info_box_anm {
    from { background-color: #EDF2FC; }
    to { background-color: #D8E3F8; }
}

.warning_box {
    padding: 12px 7px 12px 43px;
    background: url(webresource/images/warning32.png) no-repeat 5px #FFF4AD;
    border: 1px solid;
    border-color: #DFA660 #EFCAA3;
    border-radius: 1px;
    -webkit-animation: warning_box_anm 1s;
    -moz-animation: warning_box_anm 1s;
}

@-webkit-keyframes warning_box_anm {
    from { background-color: #FFFAD6; }
    to { background-color: #FFF4AD; }
}

@-moz-keyframes warning_box_anm {
    from { background-color: #FFFAD6; }
    to { background-color: #FFF4AD; }
}

.error_box {
    padding: 12px 7px 12px 43px;
    background: url(webresource/images/error32.png) no-repeat 5px #FFE7E1;
    border: 1px solid;
    border-color: #DC6E6E #FFAFAF;
    border-radius: 1px;
    -webkit-animation: error_box_anm 1s;
    -moz-animation: error_box_anm 1s;
}

@-webkit-keyframes error_box_anm {
    from { background-color: #FFF7F5; }
    to { background-color: #FFE7E1; }
}

@-moz-keyframes error_box_anm {
    from { background-color: #FFF7F5; }
    to { background-color: #FFE7E1; }
}

.data_cell {
    background: #eeffee;
    border: 1px solid;
}

th.data_header {
    background: #eeeeff;
    border: 1px solid;
}

table.testtable {
    color: #222222;
    background-color: #ffffff;
    font-size: 100%;
    border: 1px solid #888895;
    empty-cells: show;
    border-collapse: collapse;
}

table.testtable th {
    border-left: 1px dotted #777777;
    border-right: 1px dotted #777777;
    border-bottom: 1px solid #BBBBBB;
    background-color: rgb(247,247,250);
    padding: 5px 4px;
}

table.testtable td {
    border: 1px dotted #BBBBBB;
    padding: 2px 4px;
}

.code {
    font-family: Courier New, monospace;
    font-size: 110%;
}

span.codeerror {
    color: red;
    font-weight: bold;
}

.treeOptionsText {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    color: red;
}

#userName {
    font-weight: bold;
}

.title {
    position: relative;
    z-index: 1;
    zoom: 1;
    color: #06F;
}

.title em {
    display:none;
}

.title:hover em {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #000;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    line-height: normal;
    color: #FFF;
    text-decoration: none;
    padding: 3px 5px;
    bottom: 22px;
    left: 0;
}

.menuPanel a {
    margin-right: 10px;
}

.lblSearch {
  font-size: 13px;
}

.columnTree {
  vertical-align: top;
}

.columnProps {
  vertical-align: top;
  width: 100%;
}

.colDiff {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.panelDiff {
  width: 100%;
  height: 100%;
}

form .formfields {
  vertical-align: top;
  border: none;
  width: 99%;
}

.label {
  color: #002276;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  vertical-align: top;
  font-family: verdana, helvetica, arial, sans-serif;
}

.required {
  color: #002276;
  background: url(../webresource/images/required.gif) top right no-repeat;
  padding-right: 5px;
}

form.standard table.buttonPanel {
  margin-top: 10px;
  margin-left: -4px;
}

.actionLabel {
  vertical-align: top;
  text-align: center;
  display: screen;
  font-size: 8pt;
}

.messages ul {
  margin: 0px 0px 10px 5px;
  padding: 0px;
  list-style-type: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

.warning {
    color: brown;
}

.noEntries {
  color: #002276;
  font-weight: bold;
  margin-left: 10px;
}

/* Standard table that should be used to display any tabular data */
table.standard {
  border: none;
  border-bottom: 1px solid gray;
}

table.standard caption {
  background-color: #BFC0CE;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
}

table.standard thead td {
  border-color: gray white;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  color: #052679;
  padding: 5px 8px 6px;
}

table.standard thead td a {
  color: rgb(5, 38, 121);
  text-decoration: none;
}

table.standard td {
  border-right: 1px solid white;
  border-bottom: none;
  padding: 5px 5px 5px 2px;
}

table.standard td .right {
  text-align: right;
}

table.standard td .left {
  text-align: left;
}

/* For verticale table header */
table.standard td.header {
  padding: 0px 5px 5px 2px;
  font-weight: bold;
}

table.standard tr.even {
  background-color: rgb(235, 238, 247);
}

table.standard tr.odd {
  background-color: white;
}

table.header {
  border-bottom: medium none !important;
}

table.header thead td {
  padding: 1px 8px 1px !important;
}

.treeMenu {
    width: 100%;
    border-bottom: 1px dotted rgb(150,150,150);
    padding-bottom: 4px;
}

.treeMenu a {
    margin-right: 2px;
}

.tree a {
    text-decoration: none;
    color: #111111 !important;
}

.treeNodeInactive {
    opacity: 0.35;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 35);
}

/* RichFaces styles */

.rf-trn-sel {
    font-weight: bold;
}

.rf-tab-hdr {
    vertical-align: middle !important;
    color: #222222 !important;
    background: none !important;
}

.rf-tab-hdr-tabline-vis {
    height: 21px !important;
    border: 0 !important;
    background: none !important;
}

.rf-tab-cnt {
    border: 0 !important;
    background: none !important;
}

.rf-tab-hdr-brd {
    border: 0 !important;
    height: 0 !important;
}

.rf-insp {
    border: 0 !important;
    display: inline !important;
}

.rf-insp-inp {
    background: none !important;
}

.rf-insp-btns {
    border: 0 !important;
    background: #e6e6e6 !important;
}

.view_toolbar {
    padding: 0 3px;
}

.view_workspace {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px 0 2px;
}

.button, .button2 {
    padding: 4px 6px;
    text-decoration: none;
}

.buttonPanel .button {
    background: orange;
    color: white;
    margin: 0px 2px;
}

.buttonPanel .button2 {
    background: #44cc55;
    color: white;
    margin: 0px 2px;
}
