.multiselect_container_outer {
    background-color: rgb(205, 220, 255);
    border: 1px solid;
}

.multiselect_container {
    overflow: auto;
    max-height: 250px;
    border-top: 1px solid;
    padding: 0;
    margin-top: 5px;
    //height: expression(this.scrollHeight > 250 ? '250px': 'auto'); /* IE */
}

.multiselect_container ul {
    list-style-type: none;
    position: relative;
    margin: 0px;
    padding: 0px;
}
