body
{
font-size: 70%;
color:#000000;
background-color:#f1f1f1;
margin:0px;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{
font-family: verdana,helvetica,arial,sans-serif;
}

table, input, textarea
{
font-size: 100%;
}

code
{
font-size: 150%;
}


td.box
{
background-color:#e0dddd;
border: thin solid #000000;
margin: 5;

}



table.ex
{
color:#000000;
background-color:#f1f1f1;
font-size: 100%;
padding:0px;
}





table.main
{
color:#000000;
background-color:#e8e8e1;
font-size: 100%;
padding:3px;
}

background-color:#dfdfdf;

table.tip
{
color:#000000;
background-color:#ffffff;
font-size: 100%;
border:1px solid;
}

table.db
{
color:#000000;
background-color:#ffffff;
font-size:100%;
}

th.db
{
color:#000000;
background-color:#f1f1f1;
}

div {width:100%;}

h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h2.home
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
color:#900B09;
background-color:#ffffff;
}

h2.tutheader
{
margin-top:0px;
margin-bottom:5px;
font-size:110%;
padding-top:0px;
padding-bottom:1px;
padding-left:4px;
color:#ffffff;
background-color:#808080;
}

h2.right
{
text-align:center;
font-size:100%;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:2px;
padding-left:0px;
color:#ffffff;
background-color:#808080;
}

table.right
{
color:#000000;
background-color:#ffffff;
border:2px ridge;
margin-bottom:1px;
}

th.right
{
color:#ffffff;
background-color:#808080;
padding-bottom:2px;
}

td.right
{
color:#000000;
background-color:#FFFFFF;
padding-top:3px;
padding-bottom:6px;
}

div.w3left {color:#900B09;background-color:#f1f1f1;}

td.content {color:#900B09;background-color:#f1f1f1;}
td.deprecated {color: #FF0000;background-color:transparent}
td.red {color: #FF0000;background-color:transparent;}
p.red {color: #FF0000;background-color:transparent;}

p.intro
{
font-size:100%;
font-weight:bold;
color:#000000;
background-color:transparent;
margin-top:10px;
}

p.introcenter
{
text-align:center;
font-size:110%;
color:#8B4513;
background-color:transparent;
}



pre
{
font-family:"Courier New",monospace;
font-size:110%;
margin-left: 0;
margin-bottom: 0;
}

span.blue
{
color:#00008B;
background-color:transparent;
}

span.rssblue
{
color:#0000ff;
background-color:transparent;
}

span.red
{
color:#FF0000;
background-color:transparent;
}

span.ieonly
{
color:#000080;
background-color:transparent;
font-size:80%;
}

span.t
{
color:#0033cc;
background-color:transparent;
font-size:80%;
}

img.float
{
float:left;
}

h1, h2, h3
{
background-color:transparent;
color:#000000; 
}

h1.att, h2.att, h3.att, hr.att
{
background-color:transparent;
color:#000000; 
}

hr
{
background-color:transparent;
color:#000000;
height:1px;
}

table.front
{
color:#000000;
background-color:#f1f1f1;
}

th.front
{
color:#ffffff;
background-color:#666666;
}

td.front
{
color:#000000;
background-color:#f1f1f1;
}

a.nounderline{text-decoration:none}

a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:black;background-color:transparent}
a.left:active  {text-decoration:underline;color:black;background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}

a.example    {font-weight:bold}

a.anibutton:link, a.anibutton:visited
{
color: #000000;
border: 2px outset;
text-align: center;
background: #ffff00;
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

a.anibutton:hover
{
color: #000000;
border: 2px inset;
background: #ffff10; 
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

/* CSS Document - SitePoint specific CSS for W3Schools */ 
#sp
{
	padding:10px 3px;
	text-align:left;
}
#sp p
{
	float:left;
	border:0px none;
	padding:0px;
	margin:4px 0px;
}
#sp p img
{
	float:left;
	border:0px none;
	padding-right:2px;
}
#sp p.splink
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 0px;
}
#sp p.splink a
{
	color:#0000FF;
	font:bold xx-small Verdana, Arial, Helvetica, sans-serif; 
}
span.insert
{
	color:#e80000;
	background-color:transparent;
}


div.footer
{
text-align:center;
font-size:110%;
color:#8B4513;
background-color:transparent;
margin:20px 0px  20px 0px ;
}

#leftbox {
  position: absolute;
  left: 2px;
  width: 180px;
  margin-top: 5px;
  
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(150, 0, 0);
  
  border-left-style: none; border-top-style: none;
}

#centerbox {
  position: absolute;
  margin-top: 5px;
  margin-left: 190px;
  width: 900px;
  display: inline;
  }  
  
  
#rightbox {
  position: absolute;
  right: 0;
  margin-right: 0;
  width: 50px;
  } 