<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
  default-autowire="no">

  <import resource="appContextInclude-repository-filters.xml" />

  <bean id="localWorkspaceManager" class="org.openl.rules.workspace.lw.impl.LocalWorkspaceManagerImpl">
    <property name="localWorkspaceFolderFilter" ref="localWorkspaceFolderFilter" />
    <property name="localWorkspaceFileFilter" ref="localWorkspaceFileFilter" />
  </bean>

  <bean id="designTimeRepository" class="org.openl.rules.workspace.dtr.impl.DesignTimeRepositoryImpl"/>

  <bean id="productionDeployerManager" class="org.openl.rules.workspace.deploy.impl.ProductionDeployerManagerImpl"/>

  <bean id="workspaceManager" class="org.openl.rules.workspace.MultiUserWorkspaceManager">
    <property name="localWorkspaceManager" ref="localWorkspaceManager" />
    <property name="designTimeRepository" ref="designTimeRepository" />
    <property name="productionDeployerManager" ref="productionDeployerManager" />
  </bean>

  <bean id="uploadService" class="org.openl.rules.webstudio.services.upload.UploadService">
    <property name="zipFilter" ref="zipFilter" />
  </bean>

</beans>
