<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="no">

  <bean id="localWorkspaceManager" class="org.openl.rules.workspace.lw.impl.LocalWorkspaceManagerImpl">
    <property name="localWorkspaceFolderFilter" ref="localWorkspaceFolderFilter" />
    <property name="localWorkspaceFileFilter" ref="localWorkspaceFileFilter" />
  </bean>

  <bean id="workspaceManager" class="org.openl.rules.workspace.MultiUserWorkspaceManager">
    <property name="localWorkspaceManager" ref="localWorkspaceManager" />
  </bean>

  <bean id="uploadService" class="org.openl.rules.webstudio.services.upload.UploadService">
    <property name="zipFilter" ref="zipFilter" />
  </bean>

</beans>
