

body
{
font-size: 70%;
color:#000000;
background-color:#f1f1f1;
margin:0px;
}

body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input
{
font-family: verdana,helvetica,arial,sans-serif;
}

table, input, textarea
{
font-size: 100%;
}


.error_box
{
	background: #ffeeee; border: 1px solid;
}


.data_cell
{
	background: #eeffee; border: 1px solid;
}

.ov-matrix
{
	background: #ffffff; border: 1px solid rgb(0,0,0); padding: 4px;
}



th.data_header
{
	background: #eeeeff; border: 1px solid;
}



table.ex
{
color:#000000;
background-color:#f1f1f1;
font-size: 100%;
padding:0px;
}

table.tip
{
color:#000000;
background-color:#ffffff;
font-size: 100%;
border:1px solid;
}


table.testtable
{
color:#000000;
background-color:#ffffff;
font-size: 100%;
border:1px solid black;
empty-cells: show;
border-collapse: collapse;


}

.testtable
{
	border:1px solid black;
}

th.testtable
{
	border:1px solid black;
}


table.db
{
color:#000000;
background-color:#ffffff;
font-size:100%;
}

th.db
{
color:#000000;
background-color:#f1f1f1;
}



h1 {font-size:160%;}
h2 {font-size:120%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h2.home
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
color:#900B09;
background-color:#ffffff;
}

h2.tutheader
{
margin-top:0px;
margin-bottom:5px;
font-size:110%;
padding-top:0px;
padding-bottom:1px;
padding-left:4px;
color:#ffffff;
background-color:#808080;
}

h2.right
{
text-align:center;
font-size:100%;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:2px;
padding-left:0px;
color:#ffffff;
background-color:#808080;
}

table.right
{
color:#000000;
background-color:#ffffff;
border:2px ridge;
margin-bottom:1px;
}

th.right
{
color:#ffffff;
background-color:#808080;
padding-bottom:2px;
}

.right
{
color:#000000;
background-color:#FFFFFF;
padding-top:3px;
padding-bottom:6px;
}

div.w3left {color:#900B09;background-color:#f1f1f1;}

.content {color:#900B09;background-color:#f1f1f1;}
.deprecated {color: #FF0000;background-color:transparent}
.red {color: #FF0000;background-color:transparent;}
p.red {color: #FF0000;background-color:transparent;}


p.intro
{
font-size:100%;
font-weight:bold;
color:#000000;
background-color:transparent;
margin-top:10px;
}

p.introcenter
{
text-align:center;
font-size:110%;
color:#8B4513;
background-color:transparent;
}





pre
{
font-family:"Courier New",monospace;
font-size:110%;
margin-left: 0;
margin-bottom: 0;
}

span.blue
{
color:#00008B;
background-color:transparent;
}

span.rssblue
{
color:#0000ff;
background-color:transparent;
}

span.red
{
color:#FF0000;
background-color:transparent;
}

span.ieonly
{
color:#000080;
background-color:transparent;
font-size:80%;
}

span.t
{
color:#0033cc;
background-color:transparent;
font-size:80%;
}

img.float
{
float:left;
}

h1, h2, h3
{
background-color:transparent;
color:#000000; 
}

h1.att, h2.att, h3.att, hr.att
{
background-color:transparent;
color:#000000; 
}

hr
{
background-color:transparent;
color:#000000;
height:1px;
}

table.front
{
color:#000000;
background-color:#f1f1f1;
}

th.front
{
color:#ffffff;
background-color:#666666;
}

.front
{
color:#000000;
background-color:#f1f1f1;
}

a.nounderline {text-decoration:none}
a.rule-link {text-decoration:none}


a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:black;background-color:transparent}
a.left:active  {text-decoration:underline;color:black;background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}


a.image2:link    {text-decoration:none;color:white;background-color:transparent}
a.image2:visited {text-decoration:none;color:white;background-color:transparent}
a.image2:hover   {text-decoration:underline;color:white;background-color:transparent}
a.image2:active  {text-decoration:underline;color:white;background-color:transparent}


a.example    {font-weight:bold}

a.anibutton:link, a.anibutton:visited
{
color: #000000;
border: 2px outset;
text-align: center;
background: #ffff00;
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

a.anibutton:hover
{
color: #000000;
border: 2px inset;
background: #ffff10; 
text-decoration: none;
padding: 1px 5px 1px 10px;
line-height: 200%;
}

/* CSS Document - SitePoint specific CSS for W3Schools */ 
#sp
{
	padding:10px 3px;
	text-align:left;
}
#sp p
{
	float:left;
	border:0px none;
	padding:0px;
	margin:4px 0px;
}
#sp p img
{
	float:left;
	border:0px none;
	padding-right:2px;
}
#sp p.splink
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 14px 0px;
}
#sp p.splink a
{
	color:#0000FF;
	font:bold xx-small Verdana, Arial, Helvetica, sans-serif; 
}
span.insert
{
	color:#e80000;
	background-color:transparent;
}


div.footer
{
text-align:center;
font-size:110%;
color:#8B4513;
background-color:transparent;
margin:20px 0px  20px 0px ;
}

table.main
{
color:#000000;
background-color:#e8e8e1;
font-size: 100%;
padding:3px;
}

code
{
font-size: 150%;
}


span.codeerror
{
	color: red; font-weight: bold;
}

.javacode
{
	margin-left: 4px;
	background: #e0f0e0; padding: 2; 
	border-width: 1; border-style: solid;
	border-color: black;
}


table {margin-left: 4px;}

span.rule-keyword
{
font-family: arial,sans-serif;
font-size:70%;
color:#8B4513;
}


span.rule-parameter
{
font-family: arial,sans-serif;

font-size:90%;
color:blue;
font-style: bold;
}

span.rule-presentation
{
font-size:90%;
color: black;
font-style: italic;
}


.menuholderdiv {
    background-color: white;
    border: 1px dotted black;
    padding:4px;
}

.menuholderdiv a {
    text-decoration: underline;
    color: green;
    font-size:larger;
}

.treeOptionsText  {
  text-decoration:underline;
  font-weight:bold;
  font-size:larger;
  color:red;
}