.suggestion_list {
    padding: 0;
    margin: 0;
}

.suggestion_list ul {
    background: white;
    border: 1px solid;
    padding: 4px;
}

.suggestion_list  .selected {
    background: blue;
    color: white;
    border: 0;
}

.suggestion_list li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}