<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>OpenL WebStudio</display-name>
  <description>OpenL WebStudio</description>

  <context-param>
    <description>
      Location of the XML file that defines the root application context
      Applied by ContextLoaderListener.
    </description>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/spring/*-beans.xml <!-- always present -->

      <!-- Security -->

      <!-- Standalone security -->
      classpath:META-INF/standalone/spring/security-*-beans.xml <!-- Security Standalone project -->
      /WEB-INF/spring/security/security-beans.xml
      /WEB-INF/spring/security/security-standalone-beans.xml

      <!-- No actual security -->
      <!--/WEB-INF/spring/security/security-beans.xml-->
      <!--/WEB-INF/spring/security/security-none-beans.xml-->

      <!-- IPB security -->
      <!--classpath*:META-INF/spring/*-beans.xml-->
      <!--classpath:META-INF/integration/ipb-security/spring/security-*-beans.xml-->
    </param-value>
  </context-param>

  <context-param>
    <description>
      Comma separated list of URIs of (additional) faces config files.
    </description>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>
      /WEB-INF/faces/faces-config.xml
    </param-value>
  </context-param>

  <context-param>
    <description>State saving method: "client" or "server" (= default)</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>

  <context-param>
    <description>Enabling compression in MyFaces version 1.1.4 and later.</description>
    <param-name>org.apache.myfaces.COMPRESS_STATE_IN_CLIENT</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.VIEW_MAPPINGS</param-name>
    <param-value>*.xhtml</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>

  <context-param>
    <param-name>facelets.LIBRARIES</param-name>
    <param-value>/WEB-INF/taglib/jsffn.taglib.xml;/WEB-INF/taglib/acegi.taglib.xml</param-value>
  </context-param>

  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>#{skinBean.skin}</param-value>
  </context-param>

  <context-param>
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
    <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>

  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/conf/log4j.properties</param-value>
  </context-param>

  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>5000</param-value> <!-- every 5 seconds -->
  </context-param>

  <!-- Disable the built-in JBoss AS JSF -->
  <context-param>
    <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
    <param-value>true</param-value>
  </context-param>

  <filter>
    <filter-name>WebResourceFilter</filter-name>
    <filter-class>org.openl.rules.webstudio.filter.WebResourceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>WebResourceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>RichFacesFilter</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>RichFacesFilter</filter-name>
    <servlet-name>FacesServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter>
    <filter-name>SecurityFilterProxy</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>filterChainProxy</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SecurityFilterProxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SessionTimeoutFilter</filter-name>
    <filter-class>org.openl.rules.webstudio.filter.SessionTimeoutFilter</filter-class>
    <init-param>
        <param-name>redirectPage</param-name>
        <param-value>/faces/facelets/sessionExpired.xhtml</param-value>
    </init-param>
    <init-param>
        <description>Comma separated list of urls</description>
        <param-name>excludePages</param-name>
        <param-value>/faces/facelets/login.xhtml</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SessionTimeoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Listeners, that does all the startup work (configuration, init). -->
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.openl.rules.webstudio.web.servlet.RulesStartListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.openl.rules.webstudio.web.servlet.SessionListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.openl.rules.webstudio.web.servlet.StartupListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>FacesServlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>FacesServlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>org.openl.rules.webstudio.web.servlet.DownloadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/action/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LaunchFileServlet</servlet-name>
    <servlet-class>org.openl.rules.webstudio.web.servlet.LaunchFileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LaunchFileServlet</servlet-name>
    <url-pattern>/action/launch</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>faces/index.xhtml</welcome-file>
  </welcome-file-list>

</web-app>
