#if ($tool.length($validatorsDefinitions) > 0)
	{
#foreach( $validatorsDefinition in $validatorsDefinitions )
#foreach( $validatorClass in $validatorsDefinition.ValidatorClasses )
#if ( ${tool.hasConstructorWithoutParams($validatorClass)} )
        addValidator(new ${validatorClass.Name}());
#else
        addValidator(new ${validatorClass.Name}("${validatorsDefinition.PropertyName}"));
#end
#end#end
	}
#end