#if ($openlInterfacePackage)
package $openlInterfacePackage;
#end

import org.junit.Before;
import org.junit.Test;
import org.openl.rules.runtime.RulesEngineFactory;
import org.openl.rules.testmethod.TestUnitsResults;

import java.io.File;

import static org.junit.Assert.assertTrue;

#set( $openlInterfaceClassWithTests = "${openlInterfaceClass}WithTests" )

public class ${openlInterfaceClass}Test {
    private static interface $openlInterfaceClassWithTests extends $openlInterfaceClass {
#foreach( $testMethodName in $testMethodNames )
        TestUnitsResults $testMethodName();
#end
    }

    private $openlInterfaceClassWithTests instance;

    @Before
    public void setUp() throws Exception {
        File xlsFile = new File("$projectRoot", "$srcFile");
        instance = new RulesEngineFactory<$openlInterfaceClassWithTests>(xlsFile, ${openlInterfaceClassWithTests}.class).newEngineInstance();
    }

#foreach( $testMethodName in $testMethodNames )
    @Test
    public void test$StringUtils.capitalize($testMethodName)() throws Exception {
        TestUnitsResults results = instance.$testMethodName();
        assertTrue(results.toString(), results.getNumberOfFailures() == 0);
    }
#end
}
