
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#header {
    background: #fff;
    height: 47px;
}

#top {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #ddd;
    height: 36px;
    position: relative;
}

#center {
    height: calc(100% - 120px);
}

#center > div {
    height: 100% !important;
}

#content {
    overflow: auto;
}

.content {
    padding: 7px;
}

#footer {
	border-top: 1px solid #ccc;
    background: #fff;
    color: #666;
}

.ui-layout-resizer	{
    background: #ddd;
}
.ui-layout-resizer-west,
.ui-layout-resizer-east {
    cursor: col-resize !important;
}

.ui-layout-resizer-south {
    cursor: row-resize !important;
}

.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
    background: #C4E1A4;
}
.ui-layout-resizer-dragging {
    cursor: default !important;
}

.ui-layout-resizer-dragging-limit {
    background: #E1A4A4; /* red */
}

.ui-layout-resizer-closed {
    background: transparent;
    cursor: default !important;
}

.ui-layout-resizer-west-closed  { border-right: 1px solid #ddd; }
.ui-layout-resizer-east-closed  { border-left: 1px solid #ddd; }
.ui-layout-resizer-south-closed { border-top: 1px solid #ddd; }

.ui-layout-toggler-open {
    display: none !important;
}

.ui-layout-toggler-west,
.ui-layout-toggler-east,
.ui-layout-toggler-south,
.pane-closer {
    cursor: pointer;
    position: absolute;
    opacity: 0.2;
}

.ui-layout-toggler-west,
.ui-layout-toggler-east,
.ui-layout-pane-west .pane-closer,
.ui-layout-pane-east .pane-closer {
    height: 14px !important;
    width: 7px !important;
    top: 9px !important;
}

.ui-layout-toggler-south,
.ui-layout-pane-south .pane-closer {
    width: 14px !important;
    height: 7px !important;
}

.ui-layout-toggler-south {
    top: 5px !important;
}

.ui-layout-pane-south .pane-closer {
    top: 12px !important;
}

.ui-layout-toggler-west:hover,
.ui-layout-toggler-east:hover,
.ui-layout-toggler-south:hover,
.pane-closer:hover {
    opacity: 0.4;
}

.ui-layout-toggler-west {
    background: url(webresource/images/a_right.png) no-repeat;
    left: 5px !important;
}

.ui-layout-toggler-east {
    background: url(webresource/images/a_left.png) no-repeat;
    left: 4px !important;
}

.ui-layout-toggler-south {
    background: url(webresource/images/a_up.png) no-repeat;
    left: 4px !important;
}

.ui-layout-pane-west .pane-closer {
    background: url(webresource/images/a_left.png) no-repeat;
    right: 5px;
}

.ui-layout-pane-east .pane-closer {
    background: url(webresource/images/a_right.png) no-repeat;
    left: 5px;
}

.ui-layout-pane-south .pane-closer {
    background: url(webresource/images/a_down.png) no-repeat;
    left: 5px;
}

.clearButton {
    background: no-repeat scroll 0 0 url('webresource/images/close.gif');
    background-color: transparent !important;
    border: 0;
    -moz-margin-start: 3px;
    margin: 0 3px 0 2px;
    padding: 5px 11px;
    opacity: 0.2;
}

.clearButton:hover {
    opacity: 0.4;
}