html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#header {
    border-bottom: 1px solid #f3f3f3;
    padding: 11px 13px;
    background: #fff;
    height: 47px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    height: calc(100% - 83px);
    overflow: auto;
}

#footer {
    border-top: 1px solid #ccc;
    background: #fff;
    color: #666;
}
