BODY{ font-size:12px;font-weight:Normal; font-family:verdana,sans-serif;color:#505050;background-color:#ffffff;}
.workspace{font-size: 12px; overflow: auto; font-family:verdana,sans-serif;color:#505050;SCROLLBAR-3DLIGHT-COLOR:#999999;SCROLLBAR-ARROW-COLOR:#656363;SCROLLBAR-BASE-COLOR:#d1d6f0;SCROLLBAR-HIGHLIGHT-COLOR:#d1d6f0;SCROLLBAR-SHADOW-COLOR:#d1d6f0;SCROLLBAR-DARKSHADOW-COLOR:#999999;SCROLLBAR-TRACK-COLOR:#f2f4fe;}
.bodyText{font-size:12px;font-weight:Normal;padding-left:4px;}
.bodyBackground{background-color:#ececec;}
.messageBoxBackground{background-color:#f7f8fd;}
P.reset{font-family:verdana,sans-serif;margin:1px;font-size:12px;}
BR.separator{font-size:6px;}
.shadow{border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;}
A:link, A:active{color:#727fc0;text-decoration:none;}
A:visited{color:#9430a3;text-decoration:none;}
.linkDisabled{color:#a0a0a0;text-decoration:none;}
HR{height:1px;}

TD { font-size: 12px; }
DIV { font-size: 12px; }

.tableBorder{background-color:#999999;}
.tableHeader{background-color:#bec5e7;font-size:12px;font-weight:Bold;color:#505050;line-height:18px;border-top:1px solid #999999;border-left:1px solid #999999;border-right:1px solid #999999;}
.rowHeader{background:#d1d6f0;font-family:verdana,sans-serif;font-size:12px;color:#505050;line-height:18px;}
.rowHeader TD{ padding-left:6px;padding-right:6px; font-weight: bold;}
.row0{background:#f7f8fd;font-family:verdana,sans-serif;font-size:12px;color:#505050;line-height:18px;}
.row0 TD{padding-left:6px;padding-right:6px;}
.row1{background:#eceef8;font-family:verdana,sans-serif;font-size:12px;color:#505050;line-height:18px;}
.row1 TD{padding-left:6px;padding-right:6px;}
.tableRowSelector{background:#d1d6f0;}
.rowHighlight{background:#fff6a6;font-family:verdana,sans-serif;font-size:12px;color:#505050;line-height:18px;}
.rowHighlight TD{padding-left:6px;padding-right:6px;}
.selected_row{background:blue;font-family:verdana,sans-serif;font-size:12px;color:white;line-height:18px;}
.selected_row TD{padding-left:6px;padding-right:6px;}

.panelHeader {
  border-right:1px solid #999999;
  border-left:1px solid #999999;
  background-image: url('images/bg_header.gif');
  background-repeat: repeat-x;
}
.panelBody      {
  border-top:1px solid #999999;
  border-left:1px solid #999999;
  border-right:1px solid #999999;
  border-bottom:1px solid #999999;
  background-color: #ececec;
   }
.panelFooter {
  border-right:1px solid #999999;
  border-left:1px solid #999999;
  border-bottom:1px solid #999999;
  background-image: url('images/bg_line.gif');
}
.panelHeader TD  {
  font-size : 12px;
  font-weight : bold;
  padding: 2 4 2 4;
  color: #505050;
}
.panelFooter TD  {
  font-size : 12px;
  padding: 2 4 2 4;
  color: #505050;
}

.button
{
	border-right: 0px;
	border-top: 0px;
	font-weight: bold;
	font-size: 12px;
	background-image: url(images/button_body1.gif);
	border-left: 0px;
	cursor: hand;
	color: #404040;
	border-bottom: 0px;
	font-family: verdana, sans-serif;
}

INPUT
{
	padding-right: 4px;
	padding-left: 4px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 1px;
	color: #404040;
	padding-top: 1px;
	font-family: verdana, sans-serif;
}
SELECT {
  font-size:12px;
  font-weight: Normal;
  border: 1px inset #999999;
  color: #404040;
  background-color: #eaeaea;
  font-family: verdana, sans-serif;
}

.menuGroup, .menuGroup A:link, .menuGroup A:active, .menuGroup A:visited, .menuGroup A:hover {
  font-size: 12px;
  color:#505050;
  cursor: hand;
  font-weight:bold;
  text-decoration:none;
  }
.menuItem, .menuItem A:link, .menuItem A:active, .menuItem A:visited, .menuItem A:hover {
  font-size: 9px;
  color: #505050;
  cursor: hand;
  text-decoration: none;
  }
.infoText { color: #202020; border: inset 2px; }

.formLabel {
  font-size:12px;
  font-weight:Normal;
  padding-left:4px;
  padding-right:4px;
}

.sectionTitle {
  font-size:12px;
  font-weight:Bold;
  padding-left:4px;
  padding-right:4px;
  background-image: url('images/bg_line.gif');
}
.vertDivider {
  background-image: url('images/vert_divider_bg.jpg');
}
.navItem, .navItem A:link, .navItem A:visited {
  color: #505050;
  font-size: 12px;
}
.navItem A:hover {
  color: blue;
  font-size: 12px;
}

.paramList
{
  font-weight: bold;
  text-decoration: underline;
  color: blue;
  cursor: hand;
}

.treenode
{
 padding: 2px;
 color:#727fc0;
 background-color:white;
}
.treenodesel
{
 padding: 2px;
 background-color:#dfdfdf;
}

BUTTON
{
	border-right: thin;
	border-top: thin;
	font-weight: bold;
	font-size: 12px;
	background-image: url(images/button_body1.gif);
	border-left: thin;
	cursor: hand;
	border-bottom: thin;
	font-family: verdana, sans-serif;
}

