.user-logo {
  .anticon-user {
    width: 27px;
    height: 27px;
    background-color: rgba(5, 5, 5, 0.06);
    border-radius: 16px;
    justify-content: center;
  }

  svg {
    color: rgba(0, 0, 0, 0.88);
  }
}