#foreach( $tablePropertyDefinition in $tablePropertyDefinitions )
		constraints.put("$tablePropertyDefinition.PropertyVar", new MatchingConstraint<$tablePropertyDefinition.Definition.Type.InstanceClass.Name, $tablePropertyDefinition.Definition.Type.InstanceClass.Name>() {

			@Override
			protected $tablePropertyDefinition.Definition.Type.InstanceClass.Name getContextValue(IRulesContext context) {
			    return context.get#upperFirstChar($tablePropertyDefinition.ContextVar)();
			}
			
			@Override
			protected $tablePropertyDefinition.Definition.Type.InstanceClass.Name getPropertyValue(ITableProperties properties) {
			    return properties.get#upperFirstChar($tablePropertyDefinition.PropertyVar)();
			}
			
			@Override
			protected boolean matchNotNulls($tablePropertyDefinition.Definition.Type.InstanceClass.Name propertyValue, $tablePropertyDefinition.Definition.Type.InstanceClass.Name contextValue) {
			    return ${tablePropertyDefinition.Operation}(propertyValue, contextValue);
			}
			
        });
#end