.lblSearch {
font-size: 13px;
}
.niceLabel {
font-size:12px;
}

.smlBackButton {
font-size: 9px;
}

.outpanelHeader {
height:4px;
border-width: 0;
}
.columnTree {
vertical-align:top;
}
.columnProps {
vertical-align:top;
width: 100%;
}

.masthead {
width: 100%;
height: 70px;
background-image: url(/webstudio/images/header_logo.jpg);
background-repeat: no-repeat;
border-bottom: 1px solid #CCCCCC;
min-width: 800px;
max-width: 1400px;
position: relative;
}

.logo {
position: absolute;
top: 10px;
right: 40px;
}

BODY {
background: #eceef8;
font-family: verdana,helvetica,arial,sans-serif;
font-size: 12px;
}
  
.dr-pnl-h, .dr-tbpnl-tb-act, .dr-tbpnl-tb-inact, .dr-table-headercell {
background-image: none;
}
  
<!--
scrollbar-base-color: #BED6F8;
scrollbar-shadow-color: #F2F7FF;
scrollbar-highlight-color: #F2F7FF;
scrollbar-arrow-color: #000000;
scrollbar-darkshadow-color: #C6DEFF;
scrollbar-3dlight-color: #C6DEFF;
-->
