.lblSearch {
  font-size: 13px;
}

.niceLabel {
  font-size: 12px;
}

.smlBackButton {
  font-size: 9px;
}

.outpanelHeader {
  height: 4px;
  border-width: 0;
}

.columnTree {
  vertical-align: top;
}

.columnProps {
  vertical-align: top;
  width: 100%;
}

.masthead {
  width: 100%;
  height: 70px;
  background-image: url(/webstudio/images/header_logo.jpg);
  background-repeat: no-repeat;
  border-bottom: 1px solid #CCCCCC;
  min-width: 800px;
  max-width: 1400px;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  right: 40px;
}

img.actionImage {
  border: 0;
}

body {
  background: #eceef8;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 12px;
}

/* ------------------------------------------- */
.modalBody {
  height: 165px;
  width: 100%;
}

.modalRow1 {
  height: 100px;
}

.modalRow2 {
  height: 2px;
}

.modalRow3 {
  height: 40px;
}

.modalCol {
  text-align: center;
}

.modalButtonPanel {
}

.modalButtonCol {
  padding: 0 10px;
}

.modalButton {
  width: 80px;
}

.modalRow1Grid {
  width: 100%;
  text-align: left;
}

.modalInput,.modalInputRO {
  width: 370px;
}

.modalInputRO {
  background: #EEE;
}

.modalInputShort {
  width: 150px;
}

.modalMessage {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.colDiff {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.panelDiff {
  width: 100%;
  height: 100%;
}
/* ------------------------------------------- */

/* form elements styles */
.label {
  color: #002276;
  padding-right: 5px;
  width: 150px;
  vertical-align: top;
}

input {
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

select {
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

textarea {
  font-family: Verdana, Arial;
  font-weight: normal;
  font-size: 11px;
}

input.button {
  border: 0px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  height: 18px;
  background: url(../images/button.gif) repeat-x center;
  margin: 0;
  padding: 0px 5px 0px 5px;
  width: 0;
  overflow: visible;
}

input.button[class] {
  width: auto;
}

form.standard table.buttonPanel {
  margin-top: 10px;
  margin-left: -4px;
}

.actionButton {
  display: ;
}

.actionLabel {
  vertical-align: top;
  text-align: center;
  display: screen;
  font-size: 8pt;
}