.suggestion_list {
  background: white;
  border: 1px solid;
  padding: 4px;
}

.suggestion_list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.suggestion_list a {
  text-decoration: none;
  color: navy;
}

.suggestion_list .selected {
  background: navy;
  color: white;
}

.suggestion_list .selected a {
  color: white;
}

#autosuggest {
  display: none;
}