.multiselect_container_outer {
    position: absolute;
    z-index: 100;
    background-color: rgb(205, 220, 255);
    border: 1px solid;
    padding-top: 3px;
    width: 240px;
}

.multiselect_container {
    overflow: auto;
    max-height: 330px;
    border-top: 1px solid;
    padding: 0;
    margin-top: 5px;
    //height: expression(this.scrollHeight > 330 ? '330px' : 'auto'); /* IE */
}

.multiselect_container ul {
    list-style-type: none;
    position: relative;
    margin: 0px;
    padding: 0px;
}
