/* Tooltip skins */
.tooltip_skin-default {
    background: white;
    border: 1px solid rgb(170, 170, 170);
}

.tooltip_skin-green {
    background: rgb(230, 255, 220);
    border: 1px solid rgb(170, 230, 180);
    color: rgb(40, 50, 40);
}

.tooltip_skin-red {
    background: rgb(255, 180, 180);
    border: 1px solid rgb(255, 110, 90);
    color: rgb(60, 40, 40);
}

/* Common Tooltip styles */
.tooltip {
    position: absolute;
    z-index: 1000;
    padding: 3px;
    width: 150px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    color: black;
}

.tooltip .tooltip_pointer_down,.tooltip .tooltip_pointer_down_body {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-width: 0;
    background: none;
}

.tooltip_left .tooltip_pointer_down {
    border-left: 0px;
    border-right: 12px solid transparent;
    border-top-width: 12px;
    bottom: -12px;
    left: 10%;
}

.tooltip_left .tooltip_pointer_down_body {
    border-left: 0px;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    top: -12px;
    left: 2px;
}

.tooltip_center .tooltip_pointer_down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top-width: 12px;
    bottom: -12px;
    left: 45%;
}

.tooltip_center .tooltip_pointer_down_body {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid transparent;
    top: -12px;
    left: -4px;
}

.tooltip_right .tooltip_pointer_down {
    border-left: 12px solid transparent;
    border-right: 0px;
    border-top-width: 12px;
    bottom: -12px;
    right: 10%;
}

.tooltip_right .tooltip_pointer_down_body {
    border-left: 8px solid transparent;
    border-right: 0px;
    border-top: 8px solid transparent;
    top: -12px;
    right: 2px;
}

.corner_all {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}