html, body {
    height: 100%;
}

.rich-tabpanel-content {
    padding: 0px;
    height: 100%;
}

.rich-tab-header {
    color: #333333;
}

.rich-tab-active {
    background: #F1F1F1;
    background: -moz-linear-gradient(top, #FCFCFC, #F1F1F1);
    background: -webkit-linear-gradient(top, #FCFCFC, #F1F1F1);
    background: -ms-linear-gradient(top, #FCFCFC, #F1F1F1);
    background: linear-gradient(top, #FCFCFC, #F1F1F1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFCFC, endColorstr=#F1F1F1);
    box-shadow: 0 0 2px #999999;
    color: #111111;
    padding-top: 2px;
}

.rich-tab-inactive {
    background: #ECEEF8;
}

.rich-tbpnl-tb-sel {
    border-top: 1px solid rgb(255,170,30);
    color: #111111;
}
