.popup {
    position: absolute;
    z-index: 9102;
    padding: 3px 1px;
    font-family: Times New Roman, Verdana, Arial, Tahoma;
    font-size: 12px;
    background: rgb(253, 253, 253);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180) rgb(100, 100, 100) rgb(100, 100, 100) rgb(180, 180, 180);
    color: rgb(40, 40, 40);

    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}