.corner {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.component {
    font-family: Times New Roman, sans-serif, Verdana, Arial;
    font-size: 13px;
}

.button {
    text-decoration: none;
    cursor: default;
    padding: 2px 10px;
    outline: none;
    white-space: nowrap;
    /* Set width for IE to have gradient background */;
    width: expression(this.scrollWidth +   'px');
}

.state_default {
    color: rgb(40, 40, 40) !important;
    border: 1px solid grey;
    text-shadow: 0px 1px 0px white;
    background: rgb(248, 248, 248);
    /* Gradient background */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed) );
    /* WebKit (Safari, Chrome etc) */
    background: -moz-linear-gradient(top, #fff, #ededed);
    /* Mozilla/Gecko (Firefox etc) */
    filter: progid: DXImageTransform.Microsoft.gradient ( startColorstr = '#ffffff', endColorstr = '#ededed' ); /* IE */
}

.state_hover {
    color: rgb(40, 40, 40);
    border: 1px solid rgb(75,75,75);
    border-bottom: 1px solid grey;
    background: rgb(248, 248, 248);
}

.state_active {
    color: rgb(40, 40, 40);
    border: 1px solid rgb(75,75,75);
    background: rgb(240, 240, 240);
}