.te_menu {
    background-color: white;
    border: 1px solid rgb(155,175,255);
    padding: 4px;
    font-size: 110%;
}

.te_menu a, .te_menu a:visited {
    text-decoration: underline;
    color: rgb(75,105,195);
}

.te_menu a:hover {
    text-decoration: underline;
    color: rgb(215,125,0);
}