.te_, .te_menu {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 100%;
}

.te_ input {
    font-size: 100%;
}

.te_selected {
    color: white !important;
    background: rgb(180, 200, 255) !important;
}

.te_comment {
    background: url("../img/comment_arrow.gif") no-repeat right top;
}

.te_bigtable_mes {
    margin-top: 5px;
    padding: 5px 7px;
    color: white;
    background: rgb(255,80,80);
    display: inline-block;
    zoom: 1; /* inline-block for IE 7 */
    *display: inline; /* inline-block for IE 7 */
}

.te_bigtable_mes_header {
    font-weight: bold;
    margin-bottom: 2px;
}

.te_menu_header {
    font-weight: bold;
    padding: 0px 0px 1px 6px;
}

.te_menu_item * {
    color: rgb(50, 50, 50) !important;
    text-decoration: none !important;
 }

.te_menu_item {
    padding: 1px 10px;
}

.te_menu_item_hover {
    background: #C8DEFF;
    cursor: pointer;
}