body {
    font-size: 70%;
    color: #000000;
    background-color: #f1f1f1;
    margin: 0px;
}

body,p,h1,h2,h3,table,td,th,ul,ol,textarea,input {
    font-family: verdana, helvetica, arial, sans-serif;
}

table,input,textarea {
    font-size: 100%;
}

input[type='text'], textarea, select {
    border-width: 1px !important;
    border-style: solid !important;
    border-left-color: rgb(130,130,130) !important;
    border-top-color: rgb(130,130,130) !important;
    border-right-color: rgb(230,230,230) !important;
    border-bottom-color: rgb(230,230,230) !important;
}

img {
    border: 0px;
}

.error_box {
    padding: 12px 7px 12px 43px;
    background: url(webresource/images/error32.png) no-repeat 5px #FFE7E1;
    border: 1px solid #DC6E6E;
}

.warning_box {
    padding: 12px 7px 12px 43px;
    background: url(webresource/images/warning32.png) no-repeat 5px #FFF4AD;
    border: 1px solid #DFA660;
}

.data_cell {
    background: #eeffee;
    border: 1px solid;
}

.ov-matrix {
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
}

th.data_header {
    background: #eeeeff;
    border: 1px solid;
}

table.testtable {
    color: #222222;
    background-color: #ffffff;
    font-size: 100%;
    border: 1px solid #888895;
    empty-cells: show;
    border-collapse: collapse;
}

table.testtable th {
    border-left: 1px dotted #777777;
    border-right: 1px dotted #777777;
    border-bottom: 1px solid #BBBBBB;
    background-color: rgb(247,247,250);
    padding: 5px 4px;
}

table.testtable td {
    border: 1px dotted #BBBBBB;
    padding: 2px 4px;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 110%;
}

h1,h2,h3 {
    background-color: transparent;
    color: #000000;
}

hr {
    background-color: transparent;
    color: #000000;
    height: 1px;
}

a.nounderline {
    text-decoration: none;
}

a:link,a:visited {
    color: #900B09;
    background-color: transparent;
}

a:active,a:hover {
    color: #FF0000;
    background-color: transparent;
}

div.footer {
    text-align: center;
    font-size: 110%;
    color: #8B4513;
    background-color: transparent;
    margin: 20px 0px 20px 0px;
}

table.main {
    color: #000000;
    font-size: 100%;
    padding: 3px;
}

.code {
    font-family: Courier New, monospace;
    font-size: 110%;
}

span.codeerror {
    color: red;
    font-weight: bold;
}

.treeOptionsText {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
    color: red;
}

#userName {
    background: url(../webresource/images/user.gif) no-repeat right;
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding-right: 17px;
    margin-right: 10px;
}

.menuPanel a {
    margin-right: 10px;
}
