# This workflow will build a Java project with Maven on every push or pull request for quick checking of incoming commits.
# Verifies only on the latest Ubuntu LTS version and JDK 8.
# Checks performance on limited amount of memory to detect extra memory consumption by throwing timeouts and memory errors.
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Quick Build

on:
  push:
    branches:
      - main
      - '5.*.x'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:

jobs:
  build:

    name: Build

    runs-on: ubuntu-latest

    steps:

      - name: Configure GIT
        run: |
          git config --global user.name "OpenL Tablets"
          git config --global user.email openltablets@gmail.com
          git config --global core.autocrlf false

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0

      - name: Setup Java 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165  # v5.0.0
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: Cache SonarCloud packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Maven version
        run: mvn -v

      - name: Build with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn -B  "-Dstyle.color=always"
          verify
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          "-Dsonar.organization=openl-tablets"
          -Psonar
