# This workflow will build a Java project with Maven on the daily basis (aka Nightly Build).
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploy Maven artifacts

on:
  schedule:
  # Every day at 23:00 UTC+3
  - cron:  '0 20 * * *'
  # Manual run from the GitHub action page
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: false

jobs:
  deploy:

    name: Deploy

    runs-on: ubuntu-latest

    steps:

    - name: Checkout ${{ github.event.inputs.branch }}
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.branch }}

    - uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Set environment variables
      run: |
        echo "WEEK=$(date +%U)" >> $GITHUB_ENV
        echo "DAY=$(date +%w)" >> $GITHUB_ENV
      shell: bash

    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: maven-x${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          maven-${{ env.WEEK }}-${{ env.DAY }}
          maven-${{ env.WEEK }}
          maven-

    - name: Build with Maven
      run: mvn -B package -DskipTests

    - name: Deploy Maven artifacts
      run: |
        mvn -B deploy -DskipTests -pl STUDIO/org.openl.rules.webstudio
        mvn -B deploy -DskipTests -pl WSFrontend/org.openl.rules.ruleservice.ws
        mvn -B deploy -DskipTests -pl WSFrontend/org.openl.rules.ruleservice.ws.all
        mvn -B deploy -DskipTests -pl DEMO/org.openl.rules.demo
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Build Docker images
      run: |
        repo=ghcr.io/${{ github.repository_owner }}
        cd Dockerfiles
        docker build -t $repo/ws:x        -f WebApp ../WSFrontend/org.openl.rules.ruleservice.ws
        docker build -t $repo/ws:x-all    -f WebApp ../WSFrontend/org.openl.rules.ruleservice.ws.all
        docker build -t $repo/webstudio:x -f WebApp ../STUDIO/org.openl.rules.webstudio
        docker build -t $repo/demo:x      -f Demo   ../DEMO/org.openl.rules.demo/target
        #
        echo ${{ github.token }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
        docker push -a $repo/demo
        docker push -a $repo/ws
        docker push -a $repo/webstudio
