# This workflow will publish Docker images to the Central Docker Hub repository.

name: DockerHub Publisher

on:
  # Manual run from the GitHub action page
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: false
        default: 'latest'

jobs:
  publish:

    name: Publish ${{ github.event.inputs.version }} images to DockerHub

    runs-on: ubuntu-latest

    steps:
    - name: Define settings
      run: |
        echo "JAVA8=8-jre-focal" >> $GITHUB_ENV
        echo "JAVA11=11-jre-focal" >> $GITHUB_ENV
        echo "SERVER=https://repo.maven.apache.org/maven2" >> $GITHUB_ENV

    - name: Setup Soft
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends libxml2-utils
        gpg --batch --keyserver keyserver.ubuntu.com --recv-keys 902B17732F38021331F3019F82521DFA3BF8F6FC

    - name: Configure GIT
      run: |
        git config --global user.name "OpenL Tablets"
        git config --global user.email openltablets@gmail.com
        git config --global core.autocrlf false

    - name: Checkout
      uses: actions/checkout@v3

    - name: Determine the latest version
      run: |
        metaUrl="$SERVER/org/openl/org.openl.core/maven-metadata.xml"
        metaData="$(wget -qO - $metaUrl)"
        latest="$(echo $metaData | xmllint --xpath /metadata/versioning/latest/text\(\) - )"
        version="${{ github.event.inputs.version }}"
        if [ "$version" = "latest" ]; then
          version="$latest"
        fi
        major=$(echo $version | grep -o -E [0-9]+.[0-9]+ | head -n1)
        latestMajor=$(echo $metaData | grep -E $major\.[0-9.]+ -o | sort -V -r | head -n1)
        echo $version
        echo $major
        echo $latest
        echo $latestMajor
        tags_11="-t openltablets/\$appName:$version"
        tags_17="-t openltablets/\$appName:$version-jre17"
        if [ "$latestMajor" = "$version" ]; then
          tags_11+=" -t openltablets/\$appName:$major.x"
          tags_17+=" -t openltablets/\$appName:$major.x-jre17"
        fi
        if [ "$latest" = "$version" ]; then
          tags_11+=" -t openltablets/\$appName:latest"
        fi
        echo "tags_11=$tags_11" >> $GITHUB_ENV
        echo "tags_17=$tags_17" >> $GITHUB_ENV
        echo "version=$version" >> $GITHUB_ENV

    - name: Download WebStudio
      run: |
        # Define urls
        artifactUrl="$SERVER/org/openl/rules/org.openl.rules.webstudio"
        downloadUrl="$artifactUrl/$version/org.openl.rules.webstudio-$version.war"
        # Download artifact.
        wget --progress=dot:giga -O app.war "$downloadUrl"
        wget --progress=dot:giga -O app.war.asc "$downloadUrl.asc"
        # GPG verification
        gpg --batch --verify app.war.asc app.war
        unzip -q app.war -d webstudio
        rm app.war.asc
        rm app.war

    - name: Download Rule Services
      run: |
        # Define urls
        artifactUrl="$SERVER/org/openl/rules/org.openl.rules.ruleservice.ws"
        downloadUrl="$artifactUrl/$version/org.openl.rules.ruleservice.ws-$version.war"
        # Download artifact.
        wget --progress=dot:giga -O app.war "$downloadUrl"
        wget --progress=dot:giga -O app.war.asc "$downloadUrl.asc"
        # GPG verification
        gpg --batch --verify app.war.asc app.war
        unzip -q app.war -d webservice
        rm app.war.asc
        rm app.war

    - name: Download Rule Services (ALL)
      run: |
        # Define urls
        artifactUrl="$SERVER/org/openl/rules/org.openl.rules.ruleservice.ws.all"
        downloadUrl="$artifactUrl/$version/org.openl.rules.ruleservice.ws.all-$version.war"
        # Download artifact.
        wget --progress=dot:giga -O app.war "$downloadUrl"
        wget --progress=dot:giga -O app.war.asc "$downloadUrl.asc"
        # GPG verification
        gpg --batch --verify app.war.asc app.war
        unzip -q app.war -d webservice-all
        rm app.war.asc
        rm app.war

    - name: Download DEMO
      run: |
        # Define urls
        artifactUrl="$SERVER/org/openl/rules/demo/openl-demo-app"
        downloadUrl="$artifactUrl/$version/openl-demo-app-$version.zip"
        # Download artifact.
        wget --progress=dot:giga -O openl-tablets-demo.zip "$downloadUrl"
        wget --progress=dot:giga -O demo.zip.asc "$downloadUrl.asc"
        # GPG verification
        gpg --batch --verify demo.zip.asc openl-tablets-demo.zip
        rm demo.zip.asc

    - name: Download OpenTelemetry extension
      run: |
        # Define urls
        artifactUrl="$SERVER/org/openl/rules/openl-rules-opentelemetry"
        downloadUrl="$artifactUrl/$version/openl-rules-opentelemetry-$version.jar"
        # Download artifact.
        wget --progress=dot:giga -O openl-rules-opentelemetry.jar "$downloadUrl"
        wget --progress=dot:giga -O openl-rules-opentelemetry.jar.asc "$downloadUrl.asc"
        # GPG verification
        gpg --batch --verify openl-rules-opentelemetry.jar.asc openl-rules-opentelemetry.jar
        rm openl-rules-opentelemetry.jar.asc

    - name: Prepare for multi-platform docker build
      run: |
        echo "BUILD_PLATFORMS=linux/amd64,linux/arm64/v8" >> $GITHUB_ENV
        echo "BUILD_DATE=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_ENV
        docker run --privileged --rm tonistiigi/binfmt --install all
        docker buildx create --use
        docker login -u ${{ secrets.DOCKER_LOGIN }} -p ${{ secrets.DOCKER_TOKEN }}

    - name: Push DEMO
      env:
        appName : demo
      run: >
        eval docker buildx build
        $tags_11
        --platform ${BUILD_PLATFORMS} --push
        --build-arg APP=openl-tablets-demo.zip
        --label "org.opencontainers.image.version=${version}"
        --label "org.opencontainers.image.revision=${GITHUB_SHA}"
        --label "org.opencontainers.image.created=${BUILD_DATE}"
        -f DEMO/Dockerfile .

    - name: Push Rule Services (All)
      run: >
        docker buildx build
        -t openltablets/ws:$version-all
        --platform ${BUILD_PLATFORMS} --push
        --build-arg APP=webservice-all
        --build-arg OTEL_APP=openl-rules-opentelemetry.jar
        --build-arg JDK=$JAVA11
        --label "org.opencontainers.image.title=OpenL RuleServices (All)"
        --label "org.opencontainers.image.version=${version}"
        --label "org.opencontainers.image.revision=${GITHUB_SHA}"
        --label "org.opencontainers.image.created=${BUILD_DATE}"
        --label "org.opencontainers.image.description=An OpenL web service with extra modules"
        .

    - name: Push Rule Services
      env:
        appName : ws
      run: >
        eval docker buildx build
        $tags_11
        --platform ${BUILD_PLATFORMS} --push
        --build-arg APP=webservice
        --build-arg OTEL_APP=openl-rules-opentelemetry.jar
        --build-arg JDK=$JAVA11
        --label '"org.opencontainers.image.title=OpenL RuleServices"'
        --label "org.opencontainers.image.version=${version}"
        --label "org.opencontainers.image.revision=${GITHUB_SHA}"
        --label "org.opencontainers.image.created=${BUILD_DATE}"
        --label '"org.opencontainers.image.description=A minimal image with OpenL web service to run OpenL rules"'
        .

    - name: Push WebStudio
      env:
        appName : webstudio
      run: >
        eval docker buildx build
        $tags_11
        --platform ${BUILD_PLATFORMS} --push
        --build-arg APP=webstudio
        --build-arg OTEL_APP=openl-rules-opentelemetry.jar
        --build-arg JDK=$JAVA11
        --label '"org.opencontainers.image.title=OpenL WebStudio"'
        --label "org.opencontainers.image.version=${version}"
        --label "org.opencontainers.image.revision=${GITHUB_SHA}"
        --label "org.opencontainers.image.created=${BUILD_DATE}"
        --label '"org.opencontainers.image.description=A web application to develop, run, test and trace OpenL rules"'
        .
