body {
    margin-left: 10px;
    background: #eceef8;
}

.treeMenu {
    width: 95%;
    border: 1px solid gray;
}

.treeMenu a {
    margin-right: 2px;
}

.tree a {
    text-decoration: none;
    color: black !important;
}

.treeNodeSelected {
    border: 0px;
    font-size: 95%;
    font-weight: bold;
}

.treeNodeInactive {
    opacity: 0.30;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 30);
}
