body {
    color: #171717;
    background: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 70%;
}

optgroup {
    font-style: normal;
}

table, input, textarea {
    font-size: 100%;
}

input[type='text'], input[type='password'], textarea, select {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #c7c7c7 #ddd #ddd #c7c7c7 !important;
    border-radius: 1px !important;
    background: #ffffff !important;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus, select:focus {
    border-color: #dddddd !important;
    outline: 1px solid #3399EE;
}

input[type='text'], input[type='password'], textarea {
    padding: 3px;
}

/* Removing clear button (x) from input text element for MS IE 10 */
::-ms-clear {
    display: none;
}

/*Removing button 'show password' in MS IE 10 */
::-ms-reveal {
    display: none;
}

input[type='submit'], input[type='reset'],
input[type='button'], button,
.button, .imageButton {
    padding: 4px 6px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    color: #444444;
    margin-right: 4px;
    cursor: pointer;
    box-shadow: 0 0 2px #fff inset;
}

input[type='submit']:hover, input[type='reset']:hover,
input[type='button']:hover, button:hover,
.button:hover, .imageButton:hover {
    border-color: #ddd;
    color: #222222;
}

input[type='submit']:active, input[type='reset']:active,
input[type='button']:active, button:active,
.button:active, .imageButton:active {
    border-color: #ccc;
}

input[type='submit']:disabled, input[type='reset']:disabled,
input[type='button']:disabled, button:disabled,
.button:disabled, .imageButton:disabled {
    border-color: #eeeeee !important;
    color: #999999 !important;
    background: #fbfbfb !important;
    cursor: default;
}

.button,
.button-primary,
.button-secondary {
    text-decoration: none;
}

.button {
    padding: 5px 6px;
}

.button-primary,
.button-secondary {
    color: white !important;
    box-shadow: none !important;
}

.button-primary {
    background: #ff8111 !important;
    border-color: #ff8111 !important;
}

.button-secondary {
    background: #55b1f7 !important;
    border-color: #5af !important;
}

a.button-primary,
a.button-secondary {
    padding: 6px 8px;
}

.button-large {
    padding: 5px 7px !important;
}

.imageButton {
    padding: 5px 16px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fbfbfb !important;
}

.button + .dropdown-menu,
.button-primary + .dropdown-menu,
.button-secondary + .dropdown-menu {
    margin-top: 7px;
    margin-left: 2px;
}

.button > .caret,
.button-primary > .caret,
.button-secondary > .caret {
    margin-left: 4px;
}

.buttonPanel .button,
.buttonPanel .button-primary,
.buttonPanel .button-secondary,
.buttonPanel .imageButton {
    margin: 0px 2px;
}

.button-dropdown {
    margin-right: 0 !important;
}

.button-dropdown + .dropdown >.dropdown-toggle {
    padding: 5px 2px 5px 0;
    border: 1px solid #ddd;
    border-left: 0;
    background: #fbfbfb;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .button-dropdown + .dropdown >.dropdown-toggle {
        margin-left: -4px;
    }
}

img {
    border: 0;
}

hr {
    border: 0 !important;
    border-bottom: 1px solid #dddddd !important;
    margin-top: 15px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 110%;
}

a {
    outline: none;
    color: #1199ee;
}

.link-dropdown {
    color: #1199ee;
    text-decoration: none;
    border-bottom: 1px dashed #1199ee;
    padding: 1px 2px;
}

.link-dropdown-menu {
    margin: 6px 0 0 -9px;
}

.link-dropdown-menu > li > a {
    padding: 2px 12px;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #cccccc;
    border-radius: 1px;
}

#loadingPanel {
    position: fixed;
    top: 32px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#loadingPanel img {
    position: fixed;
    top: 3px;
    right: 750px;
    z-index: 10001;
}

.problem-error,
.problem-warning,
.problem-info {
    padding: 12px;
    border-radius: 1px;
    border-left-style: solid;
    border-left-width: 3px;
}

.problem-error {
    background: #FFE9E4;
    border-left-color: #FF6234;
}

.problem-warning {
    background: #FFF9AD;
    border-left-color: #EFCA5F;
}

.problem-info {
    background: #DAEBFF;
    border-left-color: #92BFFF;
}

.problem-small {
	background: transparent;
    padding: 0 5px;
    border-left-width: 2px
}

#topPanel {
    padding: 18px 10px;
}

.table {
    color: #222;
    background: #fff;
    font-size: 100%;
    border: 1px solid #fff;
    empty-cells: show;
    border-collapse: collapse;
}

.table th {
    border: 1px dotted #ccc;
    border-bottom-style: solid;
    padding: 6px 7px;
    text-align: left;
}

.table td {
    border: 1px dotted #ccc;
    padding: 4px 7px;
    line-height: 15px;
}

.table-striped tbody tr:nth-child(2n+1) td {
    background: #fafafa;
}

.table-over tr:hover td {
    background: #f7f7f7;
    cursor: pointer;
}

.table .row-selected {
    background: #59c !important;
    color: #fff !important;
    font-weight: bold !important;
}

.badge {
    background: #999;
    border-radius: 1px;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 6px 3px;
    padding-top: 4px\9; /* IE 9*/
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: 12%;
}

.badge-small {
    padding: 1px 4px 2px;
    padding-top: 2px\9; /* IE 9*/
}

.badge-error {
    background: #f54;
}

.badge-warning {
    background: #FFD200;
}

.badge-success {
    background: #5cb85c;
}

.badge-info {
    background: #59c;
}

.close {
    cursor: pointer;
    opacity: 0.3;
}

.close:hover {
    opacity: 0.5;
}

.tab-panel-vertical {
    border-top: 1px solid #ddd;
    margin: 13px 24px 13px 3px;
    min-height: 350px;
}

.tab-panel-vertical ul {
    height: 350px;
    list-style: none;
    margin: 0; padding: 0;
    background: #f5f5f5;
    float: left;
    border-right: 1px solid #ddd;
}

.tab-panel-vertical ul li {
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.8;
}

.tab-panel-vertical ul li:hover {
     opacity: 1;
}

.tab-panel-vertical ul li.selected-tab {
    font-weight: bold;
    position: relative;
    left: 1px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    background: #fff;
    opacity: 1;
}

.tab-panel-vertical ul li:first-child.selected-tab {
    border-top: 0;
}

.tab-panel-vertical ul li a {
    display: block;
    padding: 20px 5px;
    outline: none;
    text-decoration: none;
    color: #222;
}

.tab-panel-vertical ul li a span {
    display: block;
}

.tab-panel-vertical .data-container {
    padding: 15px 25px 15px 125px;
}

.page {
    padding: 7px 21px 15px;
}

/* TODO Merge with .block */
.fields section {
    margin-bottom: 31px;
}

.fields section > h3 {
    color: #ee8811;
    font: normal 110% Verdana;
    margin: 5px 0;
    padding-bottom: 3px;
}

.fields section > div {
    margin-left: 11px;
    color: rgb(71,71,71);
}

.block-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 95px;
}

.block {
    margin-top: 25px;
    margin-bottom: 37px;
}

.block:last-child {
    margin-bottom: 0;
}

.block > h3 {
    color: #578;
    font-weight: normal;
    font-size: 14px;
}

.block > .block-content {
    padding-left: 7px;
    padding-top: 2px;
}

.block > .block-content > .list {
    margin-top: -5px;
}

.block > .block-content > .properties {
    margin-top: -2px;
}

.list > .list-item {
    display: block;
    width: 100%;
    padding: 8px 3px 10px;
    border-bottom: 1px dashed #ddd;
}

.list > .list-item:last-child {
    border-bottom: none;
}

table.properties td {
    border-collapse: collapse;
}

table.properties td {
    padding: 4px 2px 4px 0;
    vertical-align: top;
}

table.properties td:first-child {
    width: 110px;
    color: #777;
    padding-right: 5px;
}

ul.enum {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

ul.enum li {
    padding-top: 3px;
    padding-bottom: 4px;
}

.editable .editable-link {
    visibility: hidden;
    opacity: 0;
    padding-left: 4px;
    padding-right: 4px;
    transition: visibility 0.1s linear, opacity 0.2s ease-out;
}

.editable:hover .editable-link {
    visibility: visible;
    opacity: 1;
}

.code {
    font-family: Courier New, monospace;
    font-size: 110%;
}

.codeerror {
    color: red;
    font-weight: bold;
}

.title {
    position: relative;
    z-index: 1;
    zoom: 1;
    color: #06F;
}

.title em {
    display: none;
}

.title:hover em {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #000;
    border-radius: 4px;
    white-space: nowrap;
    line-height: normal;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px;
    bottom: 22px;
    left: 0;
}

.menuPanel a {
    margin-right: 10px;
}

form .formfields {
    vertical-align: top;
    border: none;
    width: 99%;
}

.label {
    color: #3f3f3f;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    vertical-align: top;
    font-family: verdana, helvetica, arial, sans-serif;
}

.required:after {
    color: #ff2722;
    content: "*";
    padding-left: 2px;
}

form.standard table.buttonPanel {
  margin-top: 10px;
  margin-left: -4px;
}

.messages {
    position: absolute;
    left: 41%;
    top: 11px;
    z-index: 5;
    padding: 5px 5px 0;
    box-shadow: 0 1px 5px #ccc;
    background: white;
    max-height: 211px;
    max-width: 400px;
    overflow: auto;
}

.messages ul {
  margin: 0 0 7px 5px;
  padding: 0;
  list-style-type: none;
}

.error {
    color: red;
    padding: 0 2px;
}

.success {
  color: green;
}

.warning {
    color: brown;
}

.message {
    position: absolute;
    width: 210px;
    left: 43%;
    z-index: 1000;
    background: #333;
    color: white;
    padding: 17px 11px;
    opacity: 0.8;
    text-align: center;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    word-wrap: break-word;
}

.noEntries {
    display: inline-block;
    color: #002276;
    font-weight: bold;
    margin: 7px 0 3px 10px;
}

.treeMenu {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 4px;
}

.treeMenu a {
    margin-right: 2px;
}

.tree a {
    text-decoration: none;
    color: #111111 !important;
}

.treeNodeInactive {
    opacity: 0.35;
}

.hasRuleResultNode {
    font-weight: bold;
}

.noRuleResultNode {
    font-style: italic;
}

.view_header {
     font-size: 110%;
     height: 14px;
     padding: 8px 7px 8px 9px;
     color: #333;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     border-bottom: 1px solid #f9f9f9;
     background: rgba(220, 220, 220, 0.1);
}

.view-header-link {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.view-header-link-inactive {
    color: #777;
    border-bottom: 1px dashed #ccc;
}

.view_toolbar {
    height: 34px;
}

.view_toolbar > div {
    padding: 7px 5px 6px 7px;
}

.view_workspace,
.simpleView_workspace {
    width: 100%;
    overflow: auto;
    position: absolute;
    bottom: 0;
}

.view_workspace {
    top: 64px; /* 14px - header height
                + 16px - header padding
                + 34px - toolbar height
               */
}

.simpleView_workspace {
    top: 30px; /* 14px - header height
                + 16px - header padding
               */
}

.view_workspace > div,
.simpleView_workspace > div {
    padding: 5px 7px;
}

/*Columns style for toolbar of the project tree*/
.rules_tree_view_first_col {
    width: 100%;
}

.rules_tree_view_second_col {
    width: 20px;
}

.field-description {
    font-size: 11px;
    color: #888;
}

.wizard-page {
    text-align: center;
}

.wizard-page .wizard-page-container {
    margin: 40px 30px;
    display: inline-block;
    text-align: left;
    width: 650px;
}

.wizard-page .wizard-block {
    margin-bottom: 30px;
}

.wizard-page .wizard-block > h2,
.wizard-page .wizard-block > h3 {
    font-weight: normal;
    color: #28b;
}

.wizard-page .wizard-block > h2 {
    margin-bottom: 27px;
    font-size: 16px;
}

.wizard-page .wizard-block > h3 {
    font-size: 14px;
}

.wizard-page .field-description {
    margin-top: 3px;
    color: #555;
}

.wizard-page .wizard-buttons {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 15px;
}

.test {
    margin-bottom: 37px;
}

.test .table > tbody > tr > th {
    min-width: 91px;
}

.testSuccess,
.testError {
    text-decoration: none;
    vertical-align: middle;
    margin-right: 7px;
}

.testSuccess {
    color: #2a1;
}

.testError {
    color: #f23;
}

.case-success,
.case-error {
    padding: 1px 11px;
}

.case-success {
    background: url(webresource/images/ok.png) no-repeat;
}

.case-error {
    background: url(webresource/images/error.png) no-repeat;
}

.case-result {
    display: inline-block;
}

.test-tree .rf-trn-ico-lf {
    display: none;
}

.test-tree .rf-trn-sel {
    font-weight: normal;
}

.spreadsheet .rf-trn-ico-lf {
    display: none;
}

#rulesTree .rf-trn:hover {
    background: #f7f7f7 !important;
}

#rulesTree .rf-trn-lbl {
    overflow: hidden;
    text-overflow: ellipsis;
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px);
}

.hidden {
    display: none;
}

/* RichFaces styles */

.rf-trn, .rf-tr-nd {
    background: none !important;
}

.rf-tr-nd {
    padding: 1px !important;
}

.rf-trn {
    padding: 2px 0 !important;
    cursor: pointer !important;
}

.rf-trn-sel {
    font-weight: bold;
    background: none !important;
}

.rf-trn-cnt {
    width: 100%;
}

.rf-tab-hdr {
    vertical-align: middle !important;
    color: #333333 !important;
    background: none !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    padding: 0px 11px 3px 5px !important;
}

.rf-tab-hdr-act {
    border-bottom: 1px solid orange !important;
    color: #111111 !important;
}

.rf-tab-hdr-tabline-vis {
    height: 25px !important;
    border: 0 !important;
    background: none !important;
}

.rf-tab-cnt {
    border: 0 !important;
    background: none !important;
}

.rf-tab-hdr-brd {
    border: 0 !important;
    height: 0 !important;
}

.rf-insp {
    border: 0 !important;
    display: inline !important;
}

.rf-insp-btns {
    border: 0 !important;
    background: #e6e6e6 !important;
}

.rf-dt {
    border: 1px solid #fff !important;
}

.rf-dt-hdr-c, .rf-dt-shdr-c {
    background: #fff !important;
    color: #222 !important;
}

.rf-pp-hdr {
    background: #f7f7f7 !important;
    padding: 7px 0 !important;
    border-bottom: 1px solid #eee;
}

.rf-pp-hdr-cnt {
    color: #222222 !important;
    font-size: 12px !important;
}

.rf-pp-hdr-cntrls {
    top: 8px !important;
    right: 8px !important;
}

.rf-pp-cntr {
    border-color: #ddd !important;
    box-shadow: 0 1px 31px #ddd;
}

.rf-pp-shade {
    background-color: #f5f5f5 !important;
    opacity: 0.7 !important;
}

.rf-pp-shdw {
    display: none !important;
}

.rf-pp-cnt-scrlr {
    background: #fefefe !important;
}

.rf-fu {
    background: #fefefe !important;
}

.rf-fu-hdr {
    background: #fefefe !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

.rf-fu-btn-add, .rf-fu-btn-upl, .rf-fu-btn-clr {
    height: 21px !important;
    background: #f7f7f7 !important;
}

.rf-pp-hdr-cntrls .close {
    margin: 4px;
}

/* Twitter Bootstrap styles */

.caret {
    border-top-color: #333;
}
.dropdown .caret {
    margin-top: 6px;
}

.dropdown-menu {
    border-radius: 1px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    min-width: 100px;
}

.dropdown-menu > li > a {
    color: #444;
    text-decoration: none;
}

.dropdown-menu .divider {
    margin: 5px 1px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background-color: #3399EE;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #3399EE;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0 1px 1px 1px;
}

.dropup .dropdown-submenu > .dropdown-menu {
    border-radius: 1px 1px 1px 0;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 1px 0 1px 1px;
}

.dropdown .dropdown-menu .nav-header {
    padding: 6px 20px;
    color: #888;
    white-space: nowrap;
}

.typeahead {
    border-radius: 1px;
}

.pagination {
    margin: 0;
}

.pagination > ul {
    border: 0;
    box-shadow: none;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    font-weight: bold;
}

.pagination ul > li > a,
.pagination ul > li > span {
	border: 0;
}

/* OpenL Tablets Bootstrap styles */

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #444;
    white-space: nowrap;
}

.dropdown-menu > li > a > input[type="checkbox"],
.dropdown-menu > li > span > input[type="checkbox"] {
    vertical-align: bottom;
    margin-right: 5px;
}

.dropdown-form .dropdown-menu > li > span > span {
    display: inline-block;
    min-width: 103px;
}
