html,body {
    height: 100%;
    margin: 0px;
}

#rulesDepsPanel {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    color: #272727;
}

#rulesDepsPanel a {
    color: #272727;
    text-decoration: none;
}

#rulesDepsPanel a:hover {
    text-decoration: underline;
}