.step {
    color: white;
    font-weight: bold;
    padding: 4px 10px;
}

.step_passed {
    background: url("../webresource/images/wizard/circle_blue.png") no-repeat center;
}

.step_current {
    background: url("../webresource/images/wizard/circle_orange.png") no-repeat center;
    padding: 6px 12px;
}

.step_not_passed {
    background: url("../webresource/images/wizard/circle_grey.png") no-repeat center;
}

.line {
    padding: 3px 16px;
    font-size: 0px;
    border-top: 2px dashed;
}

.line_passed {
    border-top-color: rgb(100, 180, 255);
    border-top-style: solid;
}

.line_current {
    border-top-color: rgb(255,190,20);
}

.line_not_passed {
    border-top-color: rgb(170, 170, 170);
}